.app{
    &-card{
        background-color: $app-white;
        padding: 19.77px 30.5px 24.77px;
        margin-bottom: 20px;
        &--impact{
            box-shadow: 0px 0px 20px #0000001d;
            border-radius: 52px;
            padding: 40px 50px;
            margin: 0;
            img{
                width: 58px;
                margin-bottom: 34px;
                &:not(:last-child){
                    margin-right: 26px;
                }
            }
            .app{
                &-card{
                    &__title{
                        font-size: $app-h6 + 6 !important;
                        color: $app-black;
                        letter-spacing: 2.3px;
                        font-family: Outfit-Bold;
                    }
                }
                &-txt{
                    font-size: $app-h6 + 1;
                    color: $app-black;
                    font-family: Outfit-Light;
                }
            }
        }
        &--flex{
            display: flex;
            flex-direction: column;
            .app{
                &-card{
                    &__footer{
                        margin-top: auto;
                    }
                }
            }
        }
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__title{
            line-height: 51px;
            margin-bottom: 12.5px;
            color: $app-primary;
            &.sm{
                font-size: $app-h5 + 2;
                line-height: 42px;
            }
            &.dark{
                color: $app-black;
            }
        }
        &__monthyear{
            font-size: $app-h4 - 4;
            line-height: 46px;
            margin-bottom: 32.73px;
        }
        &__date{
            font-size: $app-h6;
            line-height: 30px;
            margin-bottom: 32.5px;
            font-family: Poppins-Medium;
        }
        &__footer{
            border-top: 1px solid $app-border-color;
            padding-top: 31px;
        }
        &--features{
            padding: 0;
            margin: 0;
            img{
                margin-bottom: 13px;
            }
        }

        &--dictionary{
            padding: 0;
            margin: 0;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            .app{
                &-card{
                    &__content{
                        margin: -65px 10px 0;
                        background: $app-white;
                        padding: 15px 20px 12px;
                        position: relative;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        .d-flex{
                            margin-top: auto;
                        }
                    }
                    &__title{
                        margin-bottom: 8.82px;
                    }
                   
                    &__date{
                        font-size: $app-p;
                        color: $app-secondary-font;
                        margin: 0;
                        line-height: 18px;
                    }
                }
                &-txt{
                    font-size: $app-p;
                    margin-bottom: 22px;
                }
            }
            .btn-link{
                font-size: $app-p;
                color: $app-secondary-font;
            }
        }
        &-group{
            margin-bottom: 30px;
            
        }
        &--nopad{
            padding: 0;
        }
        &__header{
            padding: 26px 32px 21px;
            position: relative;
            &-title{
                font-size: $app-h4 - 4;
                line-height: 43px;
            }
            &.border-btm{
                border-bottom: 1px solid $app-border-color;
                &-dotted{
                    overflow: hidden;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        border-bottom: 2px dashed $app-border-color-dark;
                    }
                }
               
            }
        }
        &__body{
            padding: 23px 32px 27px;
        }
        &--bordered{
            border: 1px solid $app-border-color-card;
            border-radius: 10px;
            .app{
                &-card{
                    &__body{
                        max-height: 600px;
                        overflow: auto;
                    }
                }
            }
        }
        &--sm{
            .app{
                &-card{
                    &__header{
                        padding-top: 13px;
                        padding-bottom: 13px;
                        display: flex;
                        align-items: center;
                        p{
                            font-size: $app-h6;
                        }
                    }
                    &__body{
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                }
            }
        }
        &--no-radius{
            border-right: 0;
        }
        &--countdown, &--voteresult{
            text-align: center;
            &__title{
                font-size: $app-h6 + 2;
                font-family: Poppins-Medium;
                margin-bottom: 17px;
            }
        }
        &--voteresult{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background: rgb(18,21,103);
background: linear-gradient(356deg, rgba(18,21,103,1) 0%, rgba(206,35,35,1) 100%, rgba(255,255,255,0) 100%);
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1200px) {
        &-card{
            &--impact{
                img{
                    &:not(:last-child){
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1400px) {
        &-card{
            padding: 15px 15.5px 15px;
            &__title{
                line-height: 35px;
                margin-bottom: 12.5px;
                font-size: $app-h5 - 2;
            }
            &__monthyear{
                font-size: $app-h6 + 2;
                line-height: 26px;
                margin-bottom: 18.73px;
            }
            &__date{
                font-size: $app-sm-text;
                line-height: 22px;
                margin-bottom: 24.5px;
            }
            &__footer{
                padding-top: 15px;
            }
            .btn-link{
                font-size: $app-sm-text;
            }
            &--features, &--dictionary{
                padding: 0;
            }
            &--impact{
                padding: 30px;
            }
            &--nopad{
                padding: 0;
            }
        }
    }
    @media only screen and  (max-width: 767px) {
        &-card{
            padding: 12px 20px;
            margin-bottom: 16px;
            &__title{
                line-height: 33px;
                margin-bottom: 6px;
                font-size: $app-h6 + 2;
                &.sm{
                    font-size: $app-p + 2;
                    line-height: 30px;
                }
            }
            &__monthyear{
                font-size: 19px;
                line-height: 29px;
                margin-bottom: 10px;
            }
            &__date{
                font-size: $app-p - 2;
                line-height: 25px;
                margin-bottom: 8px;
            }
            &--impact{
                padding: 30px;
                margin: 0;
                border-radius: 17px;
                img{
                    &:not(:last-child){
                        margin-right: 10px;
                    }
                }
            }
            &--dictionary{
                padding: 0;
                margin-bottom: 0;
                .app{
                    &-card{
                        &__content{
                            margin-top: -35px;
                            padding: 20px;
                        }
                        &__title{
                            margin-bottom: 17px;
                        }
                        &__date{
                            font-size: $app-sm-text;
                        }
                    }
                    &-txt{
                        font-size: $app-sm-text;
                        margin-bottom: 32px;
                    }
                    
                }
            }
            &--nopad{
                padding: 0;
            }
            .app{
                &-h6{
                    font-size: $app-p - 2;
                    line-height: 25px;
                    margin-bottom: 15px;
                }
            }
            &__header{
                padding: 15px;
            }
        }
    }
    
}