.app{
    &-footer{
        background-color: $app-black;
        padding: 28.2px 0 12.2px;
        margin-top: auto;
        &-link{
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li{
                &:not(:first-child){
                    margin-left: 65px;
                }
            }
            a{
                font-size: $app-sm-text;
                color: $app-white;
                display: block;
                line-height: 25px; 
            }
        }
        &__bottom{
            padding-top: 38.8px;
        }
        &--landing{
            padding: 27.95px 0;
            .app{
                &-footer-link{
                    li{
                        &:not(:first-child){
                            margin-left: 37px;
                        }
                        a{
                            font-family: Outfit-Regular;
                            font-size: $app-p;
                        }
                    }
                }
                &-email{
                    font-size: $app-p - 2;
                    margin-left: 40px;
                    font-family: Outfit-Regular;
                }
            }
            &__right{
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
    &-social{
        &-link{
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li{
                &:not(:first-child){
                    margin-left: 12.31px;
                }
            }
            a{
                width: 36.75px;
                height: 36.75px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                background: $app-grey;
                color: $app-white;
                font-size: $app-p - 4; 
            }
        }
    }
    &-email{
        font-size: $app-p - 4; 
        color: $app-white;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1400px) {
        &-footer{
            &-link {
                a{
                    font-size: $app-p - 4;
                }
                li{
                    &:not(:first-child){
                        margin-left: 35px;
                    }
                }
            }
        }
        
    }
    @media only screen and (max-width: 767px) {
        &-footer{
            padding: 27px 0 10px;
            &-link {
                margin-bottom: 31px;
                flex-wrap: wrap;
                justify-content: space-between;
                a{
                    font-size: $app-sm-text - 2;
                    text-align: left;
                }
                li{
                    flex-basis: 50%;
                    margin: 0;
                    &:nth-child(even){
                        text-align: right;
                    }
                    margin-bottom: 10px;
                    &:not(:first-child){
                        margin-left: 0;
                    }
                    margin-left: 0;
                }
            }
            &__bottom{
                padding-top: 30px;
                position: relative;
            }
            .row{
                flex-direction: column-reverse;
            }
            .app{
                &-email{
                    display: block;
                    text-align: center;
                }
                &-social-link{
                    position: absolute;
                    bottom: 58px;
                    right: 0;
                }
            }
           &--landing {
            .app{
                &-email{
                    margin-left:0;
                }
               
                &-footer-link{
                    display: flex;
                    li{
                        &:not(:last-child){
                            margin-bottom: 0;
                        }
                        &:not(:first-child){
                            margin-left: 0;
                        }
                        margin-left: 0;
                    }
                }
            }
            &__right{
               display: block;
            }
            &__left{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
           }
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        &-footer{
            &-link {
                a{
                    font-size: $app-sm-text - 4;
                    line-height: 30px;
                }
                li:not(:first-child){
                    margin-left: 20px;
                }
            }
        }
    }
}