.app{
    &-link{
        &-list{
            margin: 0 0 51.5px;
            li{
               padding: 33px 0 21px; 
               border-bottom: 1px solid $app-dark-grey;
               display: flex;
               align-items: flex-start;
               justify-content: space-between;
               .app-icon{
                   font-size: $app-p - 3;
                   margin-top: 14px;
               }
            }
            a{
                color: $app-black;
                font-size: $app-h5 + 2;
                line-height: 42px;
            }
        }
    }
    &-griditem{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-column-gap: 68px;
        grid-row-gap: 91.23px;
        &--dictionary{
            grid-column-gap: 16px;
            grid-row-gap: 16px;
        }
        &--onrow{
            &-three{
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 16.42px;
                grid-row-gap: 20px;
                margin-bottom: 58px;
            }
        }
    }
    &-partner-list{
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-column-gap: 109px;
        align-items: center;
        text-align: center;
        filter: grayscale(1);
    }
    &-list{
        margin: 0;
        li{
            &:not(:last-child){
                margin-bottom: 14px;
                
            }
            p{
                margin: 0;
            }
        }
        &__title{
            font-family: Poppins-SemiBold;
            font-weight: 600;
        }
        &--bordered{
            li{
                &:not(:last-child){
                    border-bottom: 1px solid $app-border-color-light;
                    padding-bottom: 16px;
                }
            }
        }
        &__count{
            font-size: 30px;
            font-family: Poppins-SemiBold;
        }
        &--md{
            li{
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
        &__img{
            width: 147px;
            border: 1px solid $app-border-color;
            margin-right: 15px;
            height: 65px;
            display: flex;
            padding: 5px 10px;
            img{
                object-fit: contain;
            }
        }
        &--contact{
            .app{
                &-subtitle{
                    &.main{
                        margin: 0;
                    }
                    &.sub{
                        margin-bottom: 30px;
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
            }
            li{
                &:not(:last-child){
                    margin-bottom: 30px;
                }
            }
        }
        &-style{
            &--dashed{
                li{
                    position: relative;
                    padding-left: 25px;
                    &:before{
                        content: "-";
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: $app-h5;
                        line-height: 31px;
                    }
                }
            }
        }
    }
    &-formlist{
        margin: 0;
        display: flex;
        align-items: center;
        > li{
            &:not(:first-child){
                margin-left: 20px;
            }
        } 
        .btn{
            height: 40px;
        }
    }
    &-checkboxlist{
        li{
            height: 85px;
            border: 1px solid $app-border-color;
        }
    }
    &-gridlist{
        display: grid;
        margin: 0;
        grid-template-columns: repeat(3, minmax(10%, 1fr));
        // grid-column-gap: 120px;
        padding-top: 24px;
        li{
            padding: 0 60px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                border-top: 1px dashed $app-border-color;
                top: 27px;
                left: 0;
            }
            &:first-child{
                &::before{
                    width: 50%;
                    left: 50%;
                }
            }
            &:last-child{
                &::before{
                    width: 50%;
                    right: 50%;
                    left: auto;
                }
            }
        }
        p{
            font-size: $app-h6;
            &:last-child{
                margin:0;
            }
        }
        .number{
            width: 55px;
            height: 55px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: rgb(18,21,103);
            background: linear-gradient(
        356deg, rgba(18,21,103,1) 0%, rgba(206,35,35,1) 100%, rgba(255,255,255,0) 100%);
            border-radius: 100px;
            font-size: $app-h6 + 9;
            position: relative;
            margin-bottom: 14px;
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: $app-white;
                width: 46px;
                height: 46px;
                border-radius: 100px;
                transform: translate(-50%, -50%);
            }
            span{
                z-index: 1;
                font-family: Poppins-Medium;
            }
        }
    }
    &-timerlist{
        display: flex;
        align-items: center;
        margin:0;
        justify-content: center;
        li{
            margin: 0 5px;
        }
        &__count{
            display: inline-flex;
            margin-bottom: 6px;
            grid-column-gap: 4px;
            span{
                background: $app-black;
                color: $app-white;
                padding: 6px 10px;
                border-radius: 6px;
                font-size: 20px;
                font-family: Poppins-Medium;
                display: inline-block;
            }
        }
        &__txt{
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            font-family: Poppins-Medium;
            display: block;
        }
    }
    &-votelist{
        position: relative;
        border-top: 1px dashed $app-border-color;
        background: $app-white;
        margin-top: -20px;
        &::before, &:after{
            content: "";
            top: -13px;
            left: -15px;
            width: 30px;
            height: 30px;
            background: $app-bg;
            position: absolute;
            border-radius: 100px;
        }
        &:after{
            left: auto;
            right: -15px;
        }
        li{
            padding: 15px 50px 15px 50px;
            position: relative;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before{
                content: "";
                top: 19px;
                left: 20px;
                width: 20px;
                height: 20px;
                background: rgb(200,200,200);
background: linear-gradient(356deg, rgba(200,200,200,1) 0%, rgba(243,243,243,1) 100%, rgba(255,255,255,0) 100%);
                position: absolute;
                border-radius: 100px;
            }
            &:not(:last-child){
                border-bottom: 1px solid $app-bg;
            }
            .count{
                font-size: 30px;
                font-family: Poppins-SemiBold;
            }
            &.voted{
                &::before{
                    background: rgb(18,21,103);
                    background: linear-gradient(356deg, rgba(18,21,103,1) 0%, rgba(206,35,35,1) 100%, rgba(255,255,255,0) 100%);
                }
            }
        }
    }
    &-socialicons-list{
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(10%, 1fr));
        grid-column-gap: 67px;
        grid-row-gap: 28px;
        li{
            text-align: center;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            width: 48px;
            margin: 0 auto 10px;
            background: $app-bg;
            border-radius: 100px;
            &.link{
                background: rgb(135,29,82);
background: linear-gradient(40deg, rgba(135,29,82,1) 31%, rgba(206,35,35,1) 100%, rgba(255,255,255,0) 100%);
            }
            &.facebook{
                background: rgb(65,107,201);
                background: linear-gradient(40deg, rgba(65,107,201,1) 31%, rgba(107,160,252,1) 100%, rgba(255,255,255,0) 100%);
            }
            &.twitter{
                background: rgb(51,127,255);
background: linear-gradient(40deg, rgba(51,127,255,1) 31%, rgba(51,204,255,1) 100%, rgba(255,255,255,0) 100%);
            }
            &.whatsapp{
                background: rgb(34,171,65);
background: linear-gradient(40deg, rgba(34,171,65,1) 31%, rgba(134,246,154,1) 100%, rgba(255,255,255,0) 100%);
            }
            &.email{
                background: rgb(255,74,74);
background: linear-gradient(40deg, rgba(255,74,74,1) 31%, rgba(242,176,176,1) 100%, rgba(255,255,255,0) 100%);
            }
            &.linkedin{
                background: rgb(19,87,126);
background: linear-gradient(40deg, rgba(19,87,126,1) 31%, rgba(77,193,217,1) 100%, rgba(255,255,255,0) 100%);
            }
        }
        .app{
            &-icon{
                color: $app-white;
                font-size: 18px;
            }
        }
        span{
            font-size: 14px;
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1400px) {
        &-link{
            &-list {
                li{
                    padding: 13px 0 11px;
                }
                a{
                    font-size: $app-h6 + 2;
                    line-height: 32px;
                }
            }
        }
        &-griditem{
            grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
            grid-column-gap: 30px;
        }
        &-partner-list{
            grid-column-gap: 45px;
            &--dictionary{
                grid-column-gap: 16px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        &-gridlist{
            display: grid;
            margin: 0;
            grid-template-columns: repeat(1, minmax(190px, 1fr));
            // grid-column-gap: 120px;
            padding-top: 24px;
            grid-row-gap: 30px;
            li{
                padding: 0 0 50px;
                &:before{
                    width: 1px;
                    height: 100%;
                    border-left: 2px dashed $app-border-color;
                    left: 50%;
                    z-index: -1;
                }
                &:first-child:before{
                    width: 1px;
                    left: 50%;
                }
                &:last-child:before{
                    display: none;
                }
            }
            .number{
                margin-bottom: 0;
            }
            p{
                font-size: $app-sm-text;
                padding: 20px 0;
                background: $app-white;
            }
        }
        &-griditem{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            &--dictionary{
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }
            &--onrow{
                &-three{
                    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
                    grid-column-gap: 30px;
                    grid-row-gap: 30px;
                    margin-bottom: 30px;
                }
            }
        }
        &-partner-list{
            margin-top: 30px;
            grid-template-columns: repeat(2, minmax(75px, 1fr));
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            text-align: left;
        }
        &-list li:not(:last-child){
            margin-bottom: 23px;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px){
        &-gridlist {
            li{
                padding: 0 15px;
            }
        }
        &-griditem{
            grid-template-columns: repeat(2, minmax(10%, 1fr));
        }
    }
}