{% extends 'layout/base.html' %}
{% load static %}
{% block body %}  

<section class="app-choice app-body-bg">
    <div class="container">
        <!-- <a class="btn btn-link btn-back" href="javascript:window.history.back()"> <span class="app-icon icon-arrow-right"></span> <span>BACK</span> </a> -->
        <div class="row">
            <div class="col-sm-12 col-lg-7 mx-auto">
                <div class="app-card app-card--lg app-card--nopad">
                    <div class="app-card__header border-btm">
                        <p class="app-card__header-title">{% trans "Make your choice" %}</p>
                        <p class="app-sm-text text-medium">{{contest.name}}</p>
                    </div>
                    {% csrf_token %}
                    <div class="app-card__body">
                        <ul class="app-checkboxlist list-unstyled">
                            {% for i in candidates %}
                                <li class="app-form__control checkbox">

                                    <input class="form-check-input" type="radio" checked value={{i.id}} id={{i.id}} dataname={{i.name}} name="choice">
                                    <label class="form-check-label" for="{{i.id}}">{{i.name}}</label>
                                </li>
                            {% endfor %}
                            {{i.id}}
                        </ul>
                        <div class="app-card__btngroup d-flex align-items-center justify-content-between">
                            <a class="btn btn-default" href="javascript:window.history.back()">{% trans "BACK" %}</a>
                            <button class="btn btn-primary" id="showBalletModal">{% trans "CREATE BALLOT" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <div class="app-social-follow">
    <a href="#" class="app-icon icon-facebook"></a>
    <a href="#" class="app-icon icon-twiter"></a>
    <span class="app-social-follow__txt">FOLLOW US ON</span>
</div> -->

  
<!-- Modal -->
<div class="modal fade app-modal" id="createballet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content" id="confirmVote">
            <div class="modal-header">
                <h5 class="modal-title text-bold" id="exampleModalLongTitle">{% trans "Confirm your selection" %} </h5>
            </div>
            <div class="modal-body text-center">
                <div class="app-modal__msgbox text-bold text-uppercase">
                    <span id="choice_input"></span>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">{% trans "CANCEL" %}</button>
                <button type="button" isloggedIn="true" id="confirmBtn" class="btn btn-primary">{% trans "CONFIRM" %}</button>
            </div>
        </div>

        <div class="modal-content d-none" id="success">
            <div class="modal-body text-center">
                <div class="app-bg app-result-wrap app-modal--success">
                    <img src="/static/images/vote-success.png" alt="">
                    <p class="app-h5 text-success text-bold">{% trans "Success!" %}</p>
                    <p class="app-h6 m-0">{% trans "Your Choice Added Successfully" %}</p>
                </div>
                <div class="modal-result app-result-wrap">
                    <p class="app-p">{% trans "Thank for voting at the Referendum and be a part of Direct Democracy." %}</p>
                    <p class="app-h6 text-danger">{% trans "The results will be announced on" %}</p>
                    <p class="app-resultdate">{{contest.end|date:"d.m.Y"}}</p>
                    <p class="app-p">{% trans "and you will be notified via email." %}</p>
                    <a href={% url 'baloti_djelectionguard:ContestDetails' contest.parent.uid %} class="btn btn-default mx-auto btn-flex--inline">{% trans "BACK TO REFERENDUM" %}</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %}
