{% extends 'layout/base.html' %}
{% load static %}
{% block body %}  
{% load static i18n %}

<section class="app-choice app-body-bg">
    <div class="container">
        <!-- <a class="btn btn-link btn-back" href="javascript:window.history.back()"> <span class="app-icon icon-arrow-right"></span> <span>BACK</span> </a> -->
        <div class="row">
            <div class="col-sm-12 col-lg-7 mx-auto">
                <div class="app-card app-card--lg app-card--nopad">
                    <div class="app-card__header border-btm">
                        <p class="app-card__header-title">{% trans "Make your choice" %}</p>
                        <p class="app-sm-text text-medium">{{contest.name}}</p>
                    </div>
                    {% csrf_token %}
                    <div class="app-card__body">
                        <ul class="app-checkboxlist list-unstyled">
                            {% for i in candidates %}
                                <li class="app-form__control checkbox">
                                    <input class="form-check-input" checked type="radio" value={{i.id}} id={{i.id}} dataname={{i.name}} name="choice">
                                    <label class="form-check-label" for="{{i.id}}">{{i.name}}</label>
                                </li>
                            {% endfor %}
                            {{i.id}}
                        </ul>
                        <div class="app-card__btngroup d-flex align-items-center justify-content-between">
                            <a class="btn btn-default" href="javascript:window.history.back()">{% trans "BACK" %}</a>
                            <button class="btn btn-primary" id="showBalletModal">{% trans "CREATE BALLOT" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <div class="app-social-follow">
    <a href="#" class="app-icon icon-facebook"></a>
    <a href="#" class="app-icon icon-twiter"></a>
    <span class="app-social-follow__txt">FOLLOW US ON</span>
</div> -->

  
<!-- Modal -->
<div class="modal fade app-modal" id="createballet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-none" id="appLogin">
            <div class="app-login__box">
                {% csrf_token %}
                <!-- <div class="app-login__logo">
                    <img src="/static/images/logo.svg" alt="">
                </div> -->
                <h3 class="app-login__heading text-bold">
                    {% trans "Login Required!" %}
                </h3>
                <p class="app-login__subhead">{% trans "Please Login to your account to continue voting" %}</p>

                <div class="app-login__btn-group">
                    <a class="btn btn-facebook btn-block" id="fbloginBtn" href="{% url 'social:begin' 'facebook' %}?next="><span class="app-icon icon-facebook-box"></span> <span>{% trans "Continue with Facebook" %}</span></a>
                </div>
                
                <p class="app-sepeartor"><span>or</span></p>
                <div class="app-form" id="idLogin">
                    <div class="app-form__control">
                        <input id="id_username" name="username" 
                                   type="text" class="form-control" placeholder=" " required>
                        <label for="id_username" class="app-form__label">{% trans "Email address" %}</label>
                    </div>
                    <div class="app-form__control app-form__control--password">
                        <input id="id_password" name="password" 
                                   type="password" class="form-control" placeholder=" " required>
                        <label for="id_password" class="app-form__label">{% trans "Password" %}</label>
                        <span id="showHidePassword" class="app-icon icon-view show-hide-password"></span>
                    </div>

                    <p class="label label-danger d-none" id="login_error">
                        {% trans "Your username and password didn't match. Please try again." %}
                    </p>

                    <button type="button" isloggedIn="false" id="loginBtn" class="btn btn-primary btn-block btn-md--small">{% trans "CONTINUE" %}</button>
                    <p class="app-login__createaccount"><span>{% trans "Not registered yet?" %}</span> <a id="idCreateAccount"  href="#" class="app-link" signup="true">{% trans "Create an account now" %}</a> </p>
                </div>

                <button type="button" id="logincloseBtn" class="btn btn-default mx-auto" data-dismiss="modal">{% trans "CLOSE" %}</button>
            </div>
        </div>


        <div class="modal-content d-none" id="idSignup">
            <div class="app-login__box">
                {% csrf_token %}

                <h3 class="app-login__heading text-bold">
                    {% trans "Create account!" %}
                </h3>
                <p class="app-login__subhead">{% trans "You can register with your social login or email address." %}</p>

                <div class="app-login__btn-group">
                    <a class="btn btn-facebook btn-block" id="fbloginBtn" href="{% url 'social:begin' 'facebook' %}?next="><span class="app-icon icon-facebook-box"></span> <span>{% trans "Continue with Facebook" %}</span></a>
                </div>
                <p class="app-sepeartor"><span>or</span></p>

                <div class="app-form">
                    <div class="app-form__control">
                        {% if email %}
                        <input type="email" name="email" id="exampleInputEmail1" value={{email}} aria-describedby="emailHelp" placeholder=" "/>
                        {% else %}
                        <input type="email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" "/>
                        {% endif %}
                        <label for="exampleInputEmail1" class="app-form__label">{% trans "Email address" %}</label>
                        <div class="app-form__msg">
                            <p class="text-danger m-0">{{error}}</p>
                            <p>{% trans "We will send you the registration link to the email address you entered." %}</p>
                        </div>
                    </div>
                    <p class="label label-danger d-none" id="signup_error">
                        {% trans "This email has already been registered." %}
                    </p>
                     <p class="label label-danger d-none" id="signup_nofielderror">
                        {% trans "Users must have an email address." %}
                    </p>
                    <button id="signupBtn" class="btn btn-primary btn-block btn-md--small">{% trans "SEND" %}</button>
                    <p class="app-login__createaccount"><span>{% trans "Already have an account?" %}</span> <a id="idButtonLogin" href="#" class="app-link">{% trans "Login here!" %}</a> </p>
                </div>
                <button type="button" id="logincloseBtn" class="btn btn-default mx-auto" data-dismiss="modal">{% trans "CLOSE" %}</button>
            </div>
        </div>

        <div class="modal-content d-none" id="idsignupSuccess">
            <div class="app-login__box">
                <div class="app-login__logo">
                    <img src="/static/images/logo.svg" alt="">
                </div>
                <h3 class="app-login__heading">
                    {% trans "Mail sent!" %}
                </h3>
                <p class="app-login__subhead">{% trans "Please check your inbox to get the registration informations. Thank you." %}</p>

                <div class="text-center">
                    <div class="img-block">
                        <img src="/static/images/login-complete.svg" alt="">
                    </div>
                    <a class="btn btn-primary btn-md--small" id="idButtonLoginAfterSuccess" href="#!">{% trans "LOGIN NOW" %}</a>
                </div>
            </div>
        </div>

        <div class="modal-content d-none app-modal--success" id="success">
            <div class="modal-body text-center">
                <div class="app-bg app-result-wrap app-modal--success">
                    <img src="/static/images/vote-success.png" alt="">
                    <p class="app-h5 text-success text-bold">{% trans "Success!" %}</p>
                    <p class="app-h6 m-0">{% trans "Your Choice Added Successfully" %}</p>
                </div>
                <div class="modal-result app-result-wrap">
                    <p class="app-p">{% trans "Thank for voting at the Referendum and be a part of Direct Democracy." %}</p>
                    <p class="app-h6 text-danger">{% trans "The results will be announced on" %}</p>
                    <p class="app-resultdate">{{contest.contest_id.end|date:"d.m.Y"}}</p>
                    <p class="app-p">{% trans "and you will be notified via email." %}</p>
                    <button class="btn btn-default mx-auto"><a href={% url 'baloti_djelectionguard:ContestDetails' contest.parent.uid %}>{% trans "BACK TO REFERENDUM" %}</a></button>
                </div>
            </div>
        </div>

        <!-- Modal Warning-->
        <div class="modal-content d-none" id="alreadyVoted">
            <div class="modal-body text-center">
                <div class="app-bg app-result-wrap">
                    <img src="/static/images/vote-completed.png" alt="">
                    <p class="app-h5 text-warning text-bold">{% trans "You've already voted!!" %}</p>
                </div>
                <div class="modal-result app-result-wrap">
                    <p class="app-p">{% trans "No problem, there are other referendums you can vote for." %}</p>
                    <p class="app-h6 text-danger">{% trans "The results will be announced on" %}</p>
                    <p class="app-resultdate">{{contest.contest_id.end|date:"d.m.Y"}}</p>
                    <p class="app-p">{% trans "and you will be notified via email." %}</p>
                    <button class="btn btn-default mx-auto"><a href={% url 'baloti_djelectionguard:ContestDetails' contest.parent.uid %}>{% trans "BACK TO REFERENDUM" %}</a></button>
                </div>
            </div>
        </div>

        <div class="modal-content app-bg" id="confirmVote">
            <div class="modal-header">
                <h5 class="modal-title text-bold" id="exampleModalLongTitle">{% trans "Confirm your selection" %} </h5>
            </div>
            <div class="modal-body text-center">
                <div class="app-modal__msgbox text-bold text-uppercase">
                    <span id="choice_input"></span>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">{% trans "CANCEL" %}</button>
                <button type="button" isloggedIn="false" id="confirmBtn" class="btn btn-primary">{% trans "CONFIRM" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
