{% extends 'layout/base.html' %}
{% load static %}
{% load referendum %}
{% load issues %}
{% block body %}   

<section class="app-elections">
    <div class="app-elections__vote">
        <div class="container">
            <div class="app-header-flex">
                <h3 class="app-title app-title--sm">Referendums & Vote</h3>
                <ul class="app-newslist list-unstyled">
                    <li>
                        <a href="#" class="app-newslist__link">
                            <input type="checkbox" id="searchBox" class="app-newslist__searchinput app-hiddeninput">
                             <div class="app-newslist__searchbox">
                                <input type="text" class="form-control" name="search" id="filter"/>
                            </div>
                            <span class="app-icon app-newslist__searchicon icon-search"></span>
                            <span class="app-icon app-newslist__closeicon icon-close-bold"></span>
                        </a>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="app-newslist__link" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span class="app-icon icon-sort"></span></a>
                        <div class="dropdown-menu dropdown-menu-right app-dropdown" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-menu__header">
                                <p><span>Sort by</span></p>
                            </div>
                            <a class="dropdown-item" href={% url 'baloti_djelectionguard:ContestSortedList' sort='asc' %}>Old to new</a>
                            <a class="dropdown-item" href={% url 'baloti_djelectionguard:ContestSortedList' sort='desc' %}>New to old</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="app-griditem app-griditem--onrow-three">
                {% for u in open_contests %}
                
                {% displayIssuesCount u.id user as issues %}
                <div class="app-card app-card--bordered m-0 app-card--flex search" >
                    <h4 class="app-h4 app-card__title">{{u.name}}</h4>
                    <h5 class="app-card__monthyear">{{u.month}} {{u.year}}</h5>
                    <p class="app-card__date"><span>Date:</span> <span>{{u.date|date:"d.m.Y"}}</span></p>

                    <p class="app-h6 text-medium text-dark">Issues: {{issues}}</p>
                    <ul class="app-list list-unstyled app-sm-text">
                        {% for i in u.id|getContestIssues %}
                            <li>{{forloop.counter}} - {{i.name}}</li>
                        {% endfor %}
                    </ul>
                    <div class="app-card__footer">
                        {% checkReferendumVotingStatus u.id user as result %}
                        {% if result %}
                            <div class="d-flex align-items-center justify-content-between"><label for="" class="label label-outlined label-outlined--primary  label-sm">open</label> <a href={% url 'baloti_djelectionguard:ContestDetails' id=u.id %} class="btn btn-primary btn-icon text-uppercase btn-flex"><span>VOTE NOW</span> <span class="app-icon icon-arrow"></span></a></div>
                        {% else %}
                            <div class="d-flex align-items-center justify-content-between"><label for="" class="label label-outlined label-outlined--primary  label-sm">open</label> <a href={% url 'baloti_djelectionguard:viewContestDetails' id=u.id %} class="btn btn-primary btn-icon text-uppercase btn-flex"><span>VIEW DETAIL</span> <span class="app-icon icon-arrow"></span></a></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="app-elections__result app-bg">
        <div class="container">
            <h5 class="app-title app-title--xs">Results</h5>
            <div class="app-griditem app-griditem--onrow-three">
                {% for u in closed_contests %}
                {% displayIssuesCount u.id user as issues %}
                <div class="app-card m-0 app-card--flex search">
                    <h4 class="app-h4 app-card__title">{{u.name}}</h4>
                    <h5 class="app-card__monthyear">{{u.month}} {{u.year}}</h5>
                    <p class="app-card__date"><span>Date:</span> <span>{{u.date|date:"d.m.Y"}}</span></p>
                    <p class="app-h6 text-medium text-dark">Issues: {{issues}}</p>
                    <ul class="app-list list-unstyled app-sm-text">
                        {% for i in u.id|getContestIssues %}
                            <li>{{forloop.counter}} - {{i.name}}</li>
                        {% endfor %}
                    </ul>
                    <div class="app-card__footer">
                        {% checkReferendumResultPublished u.id user as result %}
                        {% if result %}
                            <div class="d-flex align-items-center justify-content-between"><label for="" class="label label-outlined label-sm">closed</label> <a href={% url 'baloti_djelectionguard:viewContestDetails' id=u.id %} class="btn btn-link btn-icon btn-link--sm btn-flex"><span>VIEW RESULT</span> <span class="app-icon icon-arrow"></span></a></div>
                            <!-- <div class="d-flex align-items-center justify-content-between"><label for="" class="label label-outlined label-sm">closed</label> <a href={% url 'baloti_djelectionguard:viewContestResult' id=u.id %} class="btn btn-link btn-icon btn-link--sm btn-flex"><span>VIEW RESULT</span> <span class="app-icon icon-arrow"></span></a></div> -->
                        {% else %}
                            <div class="d-flex align-items-center justify-content-between"><label for="" class="label label-outlined label-sm">closed</label> <a href={% url 'baloti_djelectionguard:viewContestDetails' id=u.id %} class="btn btn-link btn-icon btn-link--sm btn-flex"><span>VIEW DETAILS</span> <span class="app-icon icon-arrow"></span></a></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<div class="app-social-follow">
    <a href="#" class="app-icon icon-facebook"></a>
    <a href="#" class="app-icon icon-twiter"></a>
    <span class="app-social-follow__txt">FOLLOW US ON</span>
</div>
{% endblock body %}

