{% extends 'base.html' %}
{% block title %} Elections  & Vote{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">

    </div>
    <ul>
        <h2><b>Elections & Vote</b></h2>
        {% for u in contests %}
            <li><h6 style="color: red;">{{u.name}}</h6>
                <ul>Date: {{u.start_date}}</ul>
                <ul>Issues: {{u.child_count}}</ul>
                {% for c in u.child_contests %}
                    <ul>{{forloop.counter}} - {{c.name}}</ul>
                {% endfor %}
            </li>
            {% if u.action == 'vote_now' %}
                <button class="btn btn-primary mb-2">
                    <a href={% url 'baloti_djelectionguard:ContestDetails' id=u.id %}>VOTE NOW</a><br>
                </button>
            {% elif u.action == 'view_detail' %}
                <button class="btn btn-primary mb-2">
                    <a href={% url 'baloti_djelectionguard:viewContestDetails' id=u.id %}>VIEW DETAILS</a><br>
                </button>
            {% elif u.action == 'view_result' %}
                <button class="btn btn-primary mb-2">
                    <a href={% url 'baloti_djelectionguard:viewContestResult' id=u.id %}>VIEW RESULT</a><br>
                    <a href="/en/baloti/contest/list/"></a>
                </button>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}


