{% extends 'base.html' %}
{% block title %} Baloti Voting System {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <h2><b>Baloti Voting System</b></h2>
        On our platform you can practice direct democracy in different languages
        <br/>
        <ul>
            <button class="btn btn-primary mb-2">
                <a href="/en/baloti/contest/list/">PARTICIPATE NOW</a>
            </button>
        </ul>
    </div>
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <b>ABOUT US</b>
        On our platform you can practice direct democracy in different languages
        <br/>
    </div>
</div>
{% endblock %}