{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        hello {{user}}
    </div>
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <button class="btn btn-primary mb-2">
            <a href="/en/baloti/contest/list/">Back To Elections</a>
        </button>
    </div>
</div>
{% endblock %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baloti</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="app">
        <!-- Header Section -->
        <header class="app-header d-flex align-items-center">
            <a href="index.html" class="app-logo">
                <img src="/static/images/logo.svg" alt="">
            </a>
            <ul class="app-header-nav list-unstyled d-flex align-items-center ml-auto">
                <li>
                    <div class="dropdown">
                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                         EN
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="#">AR</a></li>
                        </ul>
                      </div>
                </li>
                <li class="app-menu">
                    <input id="menu__toggle" class="app-menu-toggle" type="checkbox">
                    <label class="app-menu-btn" for="menu__toggle">
                        <span></span>
                    </label>
                    <div class="app-menu-drawer">
                        <ul class="app-menu-list list-unstyled">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Elections & Vote</a>
                            </li>
                            <li>
                                <a href="#">Picture dictionary</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Disclaimer</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="app-loggedin">
                    <div class="dropdown app-loggedin__dropdown">
                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                         <span class="app-icon icon-profile"></span>
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-menu__header">
                                <p><span class="app-icon icon-facebook"></span> <span>Johndoesebastian@gmail.com</span></p>
                            </div>
                            <ul class="list-unstyled app-loggedin__menulist">
                                <li>
                                    <a class="dropdown-item" href="#"> <span class="app-icon icon-facebook"></span> <span>Change Password?</span></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"> <span class="app-icon icon-facebook"></span> <span>Delete profile</span></a>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-primary--outlined btn-block">Logout</button>
                                </li>
                            </ul>
                        </div>
                      </div>
                </li>
            </ul>
        </header>


        <section class="app-choice app-body-bg">
            <div class="container">
                <button class="btn btn-link btn-back"> <span class="app-icon icon-arrow-right"></span> <span>BACK</span> </button>
                <div class="row">
                    <div class="col-sm-7 mx-auto">
                        <div class="app-card app-card--lg app-card--nopad">
                            <div class="app-card__header border-btm">
                                <p class="app-card__header-title">Summary</p>
                                <p class="app-sm-text text-medium">Citizens' initiative A - Deportation Initiative</p>
                            </div>
                            <div class="app-card__body">
                                <ul class="app-checkboxlist list-unstyled">
                                    <li class="app-form__control checkbox">
                                        <input type="checkbox" id="yes">
                                        <label for="yes">Yes</label>
                                    </li>
                                    <li class="app-form__control checkbox">
                                        <input type="checkbox" id="no">
                                        <label for="no">No</label>
                                    </li>
                                    <li class="app-form__control checkbox">
                                        <input type="checkbox" id="abstention">
                                        <label for="abstention">Abstention</label>
                                    </li>
                                </ul>
                                <div class="app-card__btngroup d-flex align-items-center justify-content-between">
                                    <button class="btn btn-default">BACK</button>
                                    <button class="btn btn-primary" id="showBalletModal">CREAT BALLET</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


         <!-- Footer Section -->
         <footer class="app-footer">
            <div class="container">
                <div class="row">
                 <div class="col-sm-3">
                     <a href="#" class="app-footer__logo">
                         <img src="/static/images/logo-footer.svg" alt="">
                     </a>
                    </div>
                    <div class="col-sm-9">
                        <ul class="app-footer-link list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Elections</a></li>
                            <li><a href="#">Survey</a></li>
                            <li><a href="#">Results</a></li>
                            <li><a href="#">Picture dictionary</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Disclaimer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="app-footer__bottom">
                   <div class="row">
                       <div class="col-sm-6">
                           <a href="#" class="app-email">copyright@baloti.com</a>
                       </div>
                       <div class="col-sm-6">
                           <ul class="app-social-link list-unstyled">
                               <li>
                                   <a href=""><span class="app-icon icon-facebook-sm"></span></a>
                               </li>
                               <li>
                                 <a href=""><span class="app-icon icon-twiter"></span></a>
                             </li>
                           </ul>
                       </div>
                   </div>
                </div>
            </div>
        </footer>
        <div class="app-social-follow">
            <a href="#" class="app-icon icon-facebook"></a>
            <a href="#" class="app-icon icon-twiter"></a>
            <span class="app-social-follow__txt">FOLLOW US ON</span>
        </div>
    </div>

  
  <!-- Modal -->
  
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/app-main.js"></script>
</body>
</html>