<!DOCTYPE html>
<html lang="en">
{% load i18n %}
{% load static %}
{% load sass_tags %}
<!-- {% load base_tags %} -->

<head>
    <!-- {% getOGImage as og_image %} -->
    <meta property="fb:app_id" content="480123580439004" />
    <meta property="og:image" content="https://uat.baloti.org/static/images/thumbnail.png"/>
    <!-- <meta property="og:image" content="{{og_image}}"/> -->
    <meta property="og:type" content="website">
    <meta property="og:description" content="Baloti Voting webiste">
    <meta property='og:url' content='/baloti/'/>
    <meta property='og:title' content='Baloti'/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baloti</title>
    <meta name="description" content="Baloti Voting webiste">
    <!-- <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="fr_CH" /> -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" /> -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/chart.min.js"></script>
    <script src="/static/js/app-main.js"></script>
    <script src="/static/js/app-common.js"></script>
</head>

<body>
    <div class="app">
        <!-- Topbar -->
        {% include 'layout/header.html' %}
        <!-- End of Topbar -->
     
        {% block body %}
        {% endblock body %}

        <!-- Footer -->
        {% include 'layout/footer.html' %}
        <!-- End of Footer -->
    </div>
</body>

</html>
