{% load static %}
<footer class="app-footer">
    <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <a href="#" class="app-footer__logo">
                  <img src="/static/images/logo-footer.svg" alt="">
              </a>
          </div> 
          <div class="col-sm-9">
              <ul class="app-footer-link list-unstyled">
                  <li><a href="/baloti">Home</a></li>
                  <li><a href="/baloti/contest/list/">Referendums & Vote</a></li>
                  <li><a href="/illustrations">Illustrations</a></li>
                 <!--  <li><a href="#">Survey</a></li>
                  <li><a href="#">Results</a></li>
                  <li><a href="#">Picture dictionary</a></li> -->
                  <li><a href="/about-us">About Us</a></li>
                  <li><a href="/disclaimer">Disclaimer</a></li>
                  <li><a target = "_blank" href="/static/pdf/baloti_User_Manual.pdf">User Manual</a></li>
              </ul>
          </div>
      </div>
      <div class="app-footer__bottom">
          <div class="row">
              <div class="col-sm-6">
                  <a href="#" class="app-email">copyright@baloti.com</a>
              </div>
              <div class="col-sm-6">
                  <ul class="app-social-link list-unstyled">
                      <li>
                          <a href=""><span class="app-icon icon-facebook-sm"></span></a>
                      </li>
                      <li>
                          <a href=""><span class="app-icon icon-twiter"></span></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</footer>