{% load static %}
{% load static i18n %}
{% load sass_tags %}
{% get_current_language as LANGUAGE%}
<header class="app-header">
    <div class="app-header__wrapper d-flex align-items-center">
        <a href={% url 'baloti_djelectionguard:Index' %} class="app-logo">
            <img src="/static/images/logo.svg" alt="">
        </a>
        <ul class="app-header-nav main list-unstyled d-flex align-items-center ml-auto">
            <li>
                <div class="dropdown">
                <a style="text-transform:uppercase" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{LANGUAGE}}</a>

                <ul class="dropdown-menu dropdown-menu--device dropdown-menu-end">
                    <div class="dropdown-menu__header">
                        <span class="dropdown-menu__title">Languages</span>
                        <span class="app-icon icon-close-bold m-pointer"></span>
                    </div>
                    {% get_available_languages as LANGUAGES %}
                    {% for lang_code, lang_name in LANGUAGES %}
                    {% if LANGUAGE != lang_code %}
                    <li>
                        <a id="{{lang_code}}" class="dropdown-item" href="/{{ lang_code }}{{ request.get_full_path|slice:'3:' }}">{{lang_name}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            </li>
            <li class="app-menu">
                <input id="menu__toggle" class="app-menu-toggle" type="checkbox">
                <label class="app-menu-btn" for="menu__toggle">
                    <span></span>
                </label>
                <div class="app-menu-drawer">
                    <ul class="app-menu-list list-unstyled">
                        <li>
                            <a href={% url 'baloti_djelectionguard:Index' %}>Home</a>
                        </li>
                        <li>
                            <a href={% url 'baloti_djelectionguard:ContestList' %}>Referendum Votes</a>
                        </li>
                        <li>
                            <a href={% url 'balotidjelectionguard:Illustration' %}>Illustrations</a>
                        </li>
                        <!-- <li>
                            <a href="/about-us">About Us</a>
                        </li> -->
                        <li>
                            <a href={% url 'balotidjelectionguard:Disclaimer' %}>Disclaimer</a>
                        </li>
                    </ul>
                    <div class="app-menu-drawer__mobile">
                        {% if user.is_anonymous %}
                        <a href={% url 'baloti_auth:login' %} class="app-link">Login</a>
                        {% else %}
                        <details class="app-menu-drawer__profile">
                            <summary>
                                <span class="app-icon icon-profile"></span>
                                <div class="app-menu-drawer__profiletitle">
                                    <p class="m-0">{{user.email}}</p>
                                    <span class="app-menu-drawer__profilesetting">Profile settings</span>
                                </div>
                            </summary>
                            <ul class="list-unstyled app-loggedin__menulist">
                                <li>
                                    <a class="dropdown-item" href={% url 'baloti_auth:change-password' %}> <span class="app-icon icon-Security-Safes"></span> <span>Change Password?</span></a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteProfile"> <span class="app-icon icon-delete"></span> <span>Delete profile</span></a>
                                </li>
                            </ul>
                        </details>
                        
                          <a class="app-link" href="/baloti/logout?next=/baloti/success/logout">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% if user.is_anonymous %}
                <li class="app-loginbtn">
                    <a href={% url 'baloti_auth:login' %} class="btn btn-outline">Login</a>
                </li>
    
            {% else %}
                <li class="app-loggedin">
                    <div class="dropdown app-loggedin__dropdown">
                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="app-icon icon-profile"></span>
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-menu__header">
                                <p><span class="app-icon icon-mail"></span> <span>{{user.email}}</span></p>
                            </div>
                            <ul class="list-unstyled app-loggedin__menulist">
                                <li>
                                    <a class="dropdown-item" href={% url 'baloti_auth:change-password' %}> <span class="app-icon icon-Security-Safes"></span> <span>Change Password</span></a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteProfile"> <span class="app-icon icon-delete"></span> <span>Delete profile</span></a>
                                </li>
                                <li>
                                    <a href="/baloti/logout?next=/baloti/success/logout" class="btn btn-primary btn-primary--outlined btn-flex justify-content-center">Logout</a>
                                </li>
                            </ul>
                        </div>
                      </div>
                </li>
            {% endif %}
        </ul>
    </div>
   
</header>

<!-- Delete profile Modal -->
<div class="modal fade app-modal app-modal--deleteprofile" id="deleteProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
           <div class="modal-confirmbox">
               <div class="app-circle app-circle--primary app-circle--lg border-white">
                    <span class="app-icon icon-delete"></span>
               </div>
                <h6 class="app-h6 modal-confirmbox__title">Are you sure you want to delete your baloti account?</h6>
                <div class="btn-inline-group">
                    <button class="btn btn-default btn-flex--inline btn-lg" data-bs-dismiss="modal">NO</button>
                    <button class="btn btn-primary btn-lg" id="deleteProfileStep2">YES</button>
                </div>
           </div>
           <div class="modal-confirmbox modal-confirmbox--step-2 d-none">
                <div class="app-circle app-circle--primary app-circle--lg border-white">
                    <span class="app-icon icon-delete"></span>
                </div>
                <h6 class="app-h6 modal-confirmbox__title">Enter your password to confirm</h6>
                <input id="idPassword" class="form-control" type="password">
                <input id="idusername" class="form-control" type="hidden" value="{{user}}">
                <p class="label label-danger d-none" id="userpassword_error">
                    Invalid password
                </p>
                <div class="btn-inline-group">
                    <button class="btn btn-default btn-flex--inline" data-bs-dismiss="modal">CANCEL</button>
                    <button class="btn btn-primary" id="deleteProfileConfirm">CONFIRM</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function(){
        var languageObject = '{{LANGUAGE}}';
        localStorage.setItem('languageObject', JSON.stringify(languageObject));
    });
</script>