{% load static %}
<header class="app-header d-flex align-items-center">
    <a href="/en/baloti/" class="app-logo">
        <img src="/static/images/logo.svg" alt="">
    </a>
    <ul class="app-header-nav main list-unstyled d-flex align-items-center ml-auto">
        <li>
            <div class="dropdown">
                <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                 EN
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">AR</a></li>
                </ul>
            </div>
        </li>
        <li class="app-menu">
            <input id="menu__toggle" class="app-menu-toggle" type="checkbox">
            <label class="app-menu-btn" for="menu__toggle">
                <span></span>
            </label>
            <div class="app-menu-drawer">
                <ul class="app-menu-list list-unstyled">
                    <li>
                        <a href="/en/baloti">Home</a>
                    </li>
                    <li>
                        <a href="/en/baloti/contest/list/">Referendums & Vote</a>
                    </li>
                    <li>
                        <a href="/en/news">News</a>
                    </li>
                    <li>
                        <a href="#">Get swiss citizenship</a>
                    </li>
                    <li>
                        <a href="/en/about-us">About Us</a>
                    </li>
                    <li>
                        <a href="/en/disclaimer">Disclaimer</a>
                    </li>
                </ul>
            </div>
        </li>
        {% if user.is_anonymous %}
            <li class="app-loginbtn">
                <a href="/baloti/login/" class="btn btn-outline">Login</a>
            </li>

        {% else %}
            <li class="app-loggedin">
                <div class="dropdown app-loggedin__dropdown">
                    <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="app-icon icon-profile"></span>
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-menu__header">
                            <p><span class="app-icon icon-profile"></span> <span>{{user.email}}</span></p>
                        </div>
                        <ul class="list-unstyled app-loggedin__menulist">
                            <li>
                                <a class="dropdown-item" href="#"> <span class="app-icon icon-profile"></span> <span>Change Password?</span></a>
                            </li>
                            <li>
                                <a href="/baloti/logout?next=/baloti/" class="btn btn-primary btn-primary--outlined btn-flex justify-content-center">Logout</a>
                            </li>
                        </ul>
                    </div>
                  </div>
            </li>
        {% endif %}
    </ul>
</header>