django
channels
channels-redis
django-debug-toolbar
django-extensions
django-jinja
django-picklefield
django-registration

libsass
django-compressor
django-sass-processor

djblockchain[test]
djcall
djcli
electionguard
jinja2
pymemcache

pytest
pytest-django
pytest-watch
pytezos<3

ryzom>=0.4.3,<0.5

sentry-sdk
