django
channels
channels-redis
django-debug-toolbar
django-extensions
django-jinja
django-picklefield
django-registration
django-timezone-field

libsass
django-compressor
django-sass-processor

djtezos[test]>=0.4.1,<0.5
djcall
djcli
electionguard<1.2.1
jinja2
pymemcache

pytest
pytest-django
pytest-watch

# pytezos
https://github.com/baking-bad/pytezos/archive/bc95dafd273d04db9ce25a685d9b5c0e3ae5800e.zip

ryzom>=0.6.6,<0.7

sentry-sdk
