django
django-debug-toolbar
django-extensions
django-jinja
django-picklefield
django-registration
djblockchain[test]
djcall
djcli
electionguard
jinja2
pymemcache

pytest
pytest-django
pytest-watch
pytezos
