{% extends 'layout/base.html' %}
{% load static %}
{% load static i18n %}
{% load referendum %}
{% load issues %}
{% block body %}    


<section class="app-login">
    <div class="app-login__img">
        <img src="/static/images/login-img.png" alt="">
    </div>
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-sm-12 col-xl-5">
                <div class="app-login__box">
                    <form id="change_password-form" method="post" action="{% url 'baloti:change-password' %}">
                    {% csrf_token %}
                        <div class="app-login__logo">
                            <img src="/static/images/logo.svg" alt="">
                        </div>
                       
                        <p class="app-login__subhead">{%trans "Change Password" %}</p>

                        
                        <div class="app-form">
                            <div class="app-form__control app-form__control--password">
                                <input id="id_old_password" name="old_password" 
                                           type="password" class="form-control" placeholder=" ">
                                <label for="id_old_password" class="app-form__label">{%trans "Old Password" %}</label>
                                <span id="showHidePassword" class="app-icon icon-view show-hide-password"></span>
                            </div>
                            <div class="app-form__control app-form__control--password">
                                <input id="new_password1" name="new_password1" 
                                           type="password" class="form-control" placeholder=" ">
                                <label for="new_password1" class="app-form__label">{%trans "New Password" %}</label>
                                <span id="showHidePassword" class="app-icon icon-view show-hide-password"></span>
                            </div>
                            <div class="app-form__control app-form__control--password">
                                <input id="new_password2" name="new_password2" 
                                           type="password" class="form-control" placeholder=" ">
                                <label for="new_password2" class="app-form__label">{%trans "New Password Confirmation" %}</label>
                                <span id="showHidePassword" class="app-icon icon-view show-hide-password"></span>
                            </div>


                            {% if form.errors %}
                            {% for error in form.errors.new_password2 %}
                                <p class=" label label-danger label-danger--light">
                                     {{error}}
                                </p>
                            {% endfor %}
                            {% endif %}


                            <button type="submit" class="btn btn-primary btn-block btn-md--small">{%trans "CONTINUE" %}</button>
                            <p class="app-login__createaccount"></p>
                        </div>

                        <a class="btn btn-link btn-flex btn-back" href="javascript:window.history.back()"><span class="app-icon icon-arrow"></span> <span>{%trans "Back" %}</span></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
