{% extends 'base.html' %}
{% block title %}Make your choice{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">

            <form action={% url 'baloti:choice_submit_url' %} method="post" id="choice-select">
                {% csrf_token %}
                <select id="id_choice" name="choice">
                    <option disabled selected> -- select an option -- </option>
                    {% for i in candidates %}
                        <option value={{i.id}}>{{i.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="OK">
            </form>
        </div>
    </div>
{% endblock content %}