<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baloti</title>
    <link rel="stylesheet" href="public/css/main.css" >
</head>
<body>

    <div class="app">
         <!-- Header Section -->
         <header class="app-header app-header--login">
             <div class="container d-flex align-items-center">
                <a href="#" class="app-logo app-logo--login">
                    <img src="/public/images/logo.svg" alt="">
                </a>
                <ul class="app-header-nav list-unstyled d-flex align-items-center ml-auto">
                    <li>
                        <div class="dropdown">
                            <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                             EN
                            </a>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="#">AR</a></li>
                            </ul>
                          </div>
                    </li>
                </ul>
             </div>
            
        </header>


        <section class="app-login">
            <div class="app-login__img">
                <img src="/public/images/login-img.png" alt="">
            </div>
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <div class="app-login__box">
                            <div class="app-login__logo">
                                <img src="/public/images/logo.svg" alt="">
                            </div>
                            <h3 class="app-login__heading">
                                Forgot Password?
                            </h3>
                            <p class="app-login__subhead">We will send you the registration link to the email address you entered.</p>
                            
                            <div class="app-form">
                                <form>
                                    <div class="app-form__control">
                                      <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" "/>
                                      <label for="exampleInputEmail1" class="app-form__label">Email address</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block btn-md--small text-uppercase">Send Recovery Email</button>
                                  </form>
                                  <p class="app-login__createaccount"><span>Just Remembered?</span> <a href="#" class="app-link">Signin here!</a> </p>
                            </div>
                            <button class="btn btn-link btn-flex btn-back"><span class="app-icon icon-arrow"></span> <span>Back</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

<script src="/public/js/jquery-3.5.1.min.js"></script>
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/app-main.js"></script>
</body>
</html>