{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" 
                  action="{% url 'baloti:login' %}">
                {% csrf_token %}

                <b><h2>Login required!</h2></b>
                Please login to your account to continue your voting
                <br/>
                <br/>
                
                <button class="btn btn-primary mb-2">
                    {% if choice %}
                        <a href="{% url 'social:begin' 'facebook' %}?next=/baloti/vote/{{choice}}">Continue with Facebook</a>
                    {% else %}
                        <a href="{% url 'social:begin' 'facebook' %}?next=/en/baloti/contest/list/">Continue with Facebook</a>
                    {% endif %}
                </button>
                <br/>
                <br/>
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password" 
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match. 
                        Please try again.
                    </p>
                {% endif %}

                <br/>
                <br/>

                <input type="submit" value="CONTINUE"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="choice" value={{choice}} />

                {% if choice %}
                    <input type="hidden" name="next" value="/baloti/vote/{{choice}}" />
                {% else %}
                    <input type="hidden" name="next" value="/en/baloti/contest/list/" />
                {% endif %}
                <br/>
                <br/>
                Not registered yet? Create an account now!
            </form>
        </div>
    </div>
{% endblock content %}