{% load static %}
{% load static i18n %}
{% load sass_tags %}
{% get_current_language as LANGUAGE%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baloti</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="app">
         <!-- Header Section -->
         <header class="app-header app-header-no-bg">
             <div class="container d-flex align-items-center">
                <a href="#" class="app-logo app-logo--login">
                    <img src="/static/images/logo.svg" alt="">
                </a>
                <ul class="app-header-nav list-unstyled d-flex align-items-center ml-auto">
                    <li>
                        <div class="dropdown">
                            <a style="text-transform:uppercase" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{LANGUAGE}}</a>

                            <ul class="dropdown-menu dropdown-menu--device dropdown-menu-end">
                                <div class="dropdown-menu__header">
                                    <span class="dropdown-menu__title">Languages</span>
                                    <span class="app-icon icon-close-bold m-pointer"></span>
                                </div>
                                {% get_available_languages as LANGUAGES %}
                                {% for lang_code, lang_name in LANGUAGES %}
                                {% if LANGUAGE != lang_code %}
                                <li>
                                    <a id="{{lang_code}}" style="text-transform:uppercase" class="dropdown-item" href="/{{ lang_code }}{{ request.get_full_path|slice:'3:' }}">{{lang_name}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
             </div>
           
        </header>


        <section class="app-login">
            <div class="app-login__img">
                <img src="/static/images/login-img.png" alt="">
            </div>
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-sm-12 col-xl-5">
                        <div class="app-login__box">
                            <form id="login-form" method="post" action="{% url 'baloti:login' %}">
                            {% csrf_token %}
                                <div class="app-login__logo">
                                    <img src="/static/images/logo.svg" alt="">
                                </div>
                                <h3 class="app-login__heading">
                                    Welcome to baloti!
                                </h3>
                                <p class="app-login__subhead">Login to your account</p>

                                <div class="app-login__btn-group">
                                    <a class="btn btn-facebook btn-block" href="{% url 'social:begin' 'facebook' %}?next=/en/baloti/contest/list/"><span class="app-icon icon-facebook-box"></span> <span>Continue with Facebook</span></a>
                                    <!-- <button class="btn btn-google btn-block"><span class="app-icon"><img src="/static/images/google.svg" alt=""></span> <span>Continue with Google</span></button>
                                    <button class="btn btn-apple btn-block"><span class="app-icon icon-apple"></span> <span>Continue with Apple</span></button> -->
                                </div>
                                
                                <p class="app-sepeartor"><span>or</span></p>
                                <div class="app-form">
                                    <div class="app-form__control">
                                        <input id="id_username" name="username" 
                                                   type="text" class="form-control" placeholder=" ">
                                        <label for="id_username" class="app-form__label">Email address</label>
                                    </div>
                                    <div class="app-form__control app-form__control--password">
                                        <input id="id_password" name="password" 
                                                   type="password" class="form-control" placeholder=" ">
                                        <label for="id_password" class="app-form__label">Password</label>
                                        <span id="showHidePassword" class="app-icon icon-view show-hide-password"></span>
                                    </div>
                                    {% if form.errors %}
                                        <p class=" label label-danger label-danger--light">
                                            Your username and password didn't match. 
                                            Please try again.
                                        </p>
                                    {% endif %}


                                    <button type="submit" class="btn btn-primary btn-block btn-md--small">CONTINUE</button>
                                    <input type="hidden" name="next" value="/en/baloti/success/login" />
                                    <p class="app-login__createaccount"><span>Not registered yet?</span> <a href="/en/baloti/signup/" class="app-link">Create an account now!</a> </p>
                                </div>

                                <a class="btn btn-link btn-flex btn-back" href="javascript:window.history.back()"><span class="app-icon icon-arrow"></span> <span>Back</span></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/app-main.js"></script>
<script src="/static/js/app-common.js"></script>
</body>
</html>