{% load static %}
{% load static i18n %}
{% load sass_tags %}
{% get_current_language as LANGUAGE%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baloti</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="app">
         <!-- Header Section -->
         <header class="app-header app-header--login">
             <div class="container d-flex align-items-center">
                <a href="#" class="app-logo app-logo--login">
                    <img src="/static/images/logo.svg" alt="">
                </a>
                <ul class="app-header-nav list-unstyled d-flex align-items-center ml-auto">
                    <li>
                        <div class="dropdown">
                            <a style="text-transform:uppercase" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{LANGUAGE}}</a>

                            <ul class="dropdown-menu dropdown-menu--device dropdown-menu-end">
                                <div class="dropdown-menu__header">
                                    <span class="dropdown-menu__title">Languages</span>
                                    <span class="app-icon icon-close-bold m-pointer"></span>
                                </div>
                                {% get_available_languages as LANGUAGES %}
                                {% for lang_code, lang_name in LANGUAGES %}
                                {% if LANGUAGE != lang_code %}
                                <li>
                                    <a id="{{lang_code}}"  class="dropdown-item" href="/{{ lang_code }}{{ request.get_full_path|slice:'3:' }}">{{lang_name}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
             </div>
            
        </header>


        <section class="app-login">
            <div class="app-login__img">
                <img src="/static/images/login-img.png" alt="">
            </div>
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <div class="app-login__box">
                            <div class="app-login__logo">
                                <img src="/static/images/logo.svg" alt="">
                            </div>
                            <h3 class="app-login__heading">
                                {%trans "Forgot Password?" %}
                            </h3>
                            <p class="app-login__subhead">{%trans "We will send you the registration link to the email address you entered." %}</p>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="app-form">
                                    <form>
                                        <div class="app-form__control">
                                            <input type="email" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder=" "/>
                                            <label for="exampleInputEmail1" class="app-form__label">{%trans "Email address" %}</label>
                                            <p class="text-danger m-0">{{error}}</p>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block btn-md--small text-uppercase">{%trans "Send Recovery Email" %}</button>
                                    </form>
                                    <p class="app-login__createaccount"><span>{%trans "Just Remembered?" %}</span>
                                        <a href={% url 'baloti_auth:signup' %} class="app-link">{%trans "Signin here!" %}</a>
                                    </p>
                                </div>
                            </form>
                            <a class="btn btn-link btn-flex btn-back" href="javascript:window.history.back()"><span class="app-icon icon-arrow"></span> <span>{%trans "Back" %}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/app-main.js"></script>
</body>
</html>