{% load static %}
{% load static i18n %}
{% load sass_tags %}
{% load base_tags %}
{% get_current_language as LANGUAGE%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baloti</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="app">
         <!-- Header Section -->
         <header class="app-header app-header--login">
             <div class="container d-flex align-items-center">
                <a href="#" class="app-logo app-logo--login">
                    <img src="/static/images/logo.svg" alt="">
                </a>
                <ul class="app-header-nav list-unstyled d-flex align-items-center ml-auto">
                    <li>
                        <div class="dropdown">
                            {% displayLanguageCode LANGUAGE as code %}
                            <a style="text-transform:uppercase" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{code}}</a>

                            <ul class="dropdown-menu dropdown-menu--device dropdown-menu-end">
                                <div class="dropdown-menu__header">
                                    <span class="dropdown-menu__title">Languages</span>
                                    <span class="app-icon icon-close-bold m-pointer"></span>
                                </div>
                                {% get_available_languages as LANGUAGES %}
                                {% for lang_code, lang_name in LANGUAGES %}
                                {% if LANGUAGE != lang_code %}
                                {% displayLanguageName lang_code lang_name as name %}
                                <li>
                                    <a id="{{lang_code}}" class="dropdown-item" href="/{{ lang_code }}{{ request.get_full_path|slice:'3:' }}">{{name}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
             </div>
            
        </header>


        <section class="app-login app-login--mailsent">
            <div class="app-login__img">
                <img src="/static/images/login-img.png" alt="">
            </div>
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-sm-12 col-xl-5">
                        <div class="app-login__box">
                            <div class="app-login__logo">
                                <img src="/static/images/logo.svg" alt="">
                            </div>
                            <h3 class="app-login__heading">
                                {%trans "Mail sent!" %}
                            </h3>
                            <p class="app-login__subhead">{%trans "Please check your inbox to get the registration informations. Thank you." %}</p>
                            
                            <div class="text-center">
                                <div class="img-block">
                                    <img src="/static/images/login-complete.svg" alt="">
                                </div>
                                
                                <a class="btn btn-primary btn-md--small" href={% url 'baloti_auth:login' %}>{%trans "LOGIN NOW" %}</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/app-main.js"></script>
<script src="/static/js/app-common.js"></script>
</body>
</html>