{% extends 'form.html' %}

{% block form_open %}
{{ super() }}
<h1>Review your ballot</h1>

<h2>Selections</h2>
<p>You have selected : {% for candidate in selections %}{{ candidate }}, {% endfor %}</p>
<p>Electeez is an ecrypted election, we are protecting the secrecy of your vote.</p>
<h2>Plaintext ballot</h2>
<p>For reference, this is your vote before encryption.</p>
<textarea cols="50" rows="10">{{ ballot.to_json() }}</textarea>
{% endblock %}

{% block submit %}
{{ super() }}
or
<a href="{{ url('contest_vote', args=[object.pk]) }}">Change my selection</a>
{% endblock %}
