{% extends 'base.html' %}

{% block content %}

<section>
    <header>
        <h1>Your elections</h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>Eletion name</th>
                <th>status</th>
                <th></th>
            </tr>
        </thead>
        {% for obj in object_list %}
        <tr>
            <td>
                <strong>{{ obj.name }}</strong>
            </td>
            <td>
                {{ obj.state }}
            </td>
            <td>
                <a class="button" href="{{ obj.get_absolute_url() }}">View this Election</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

{% endblock %}
