.app{
    &-aboutus{
        padding-bottom: 15px;
        border-bottom: 1px solid $app-border-color;
        &__banner{
            position: relative;
            padding-bottom: 90px;
            padding-top: 260px;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $app-bg;
                z-index: -1;
            }
        }
        &__bannercontent{
            padding-bottom: 160px;
        }
        &__img{
            position: absolute;
            top: 120px;
            right: 73.85px;
            width: 40%;
            padding-right: 0;
        }
        &__voting{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-column-gap: 150px;
            padding-top: 84px;
        }
        &__col{
            &.left{
                margin-top: -255px;
                padding: 50px 60px;
                background-color: $app-white;
                border-top-right-radius: 180px;
            }
        }
        &__heading{
            margin-bottom: 52px;
        }
        &__links{
            p{
                margin-bottom: 6px;
                line-height: 28px;
            }
            a{
                margin-bottom: 35px;
                display: inline-block;
                text-decoration: underline !important;
            }
        }
    }
    @media only screen and (max-width: 991px) {
        &-aboutus{
            &__banner{
                padding-top: 120px;
                padding-bottom: 15px;
                border-bottom-right-radius: 100px;
                overflow: hidden;
            }
            &__img{
                position: inherit;
                width: 100%;
                top: 0;
                right: 0;
            }
            &__bannercontent{
                padding-bottom: 15px;
            }
            &__voting{
                grid-template-columns: 1fr;
                grid-column-gap: 0;
                padding-top: 30px;
            }
            &__col{
                &.left{
                    margin-top: 0;
                    padding: 15px;
                }
            }
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px){
        &-aboutus{
            &__img{
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
            &__col{
                &.left{
                    padding: 30px;
                }
            }
            &__voting{
                grid-column-gap: 30px;
            }
        }
    }
    @media only screen and (min-width: 2000px) {
       &-aboutus{
        &__img{
            height: calc(100% - 120px);
            text-align: right;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
       }
    }
}