$app-election-logo-bg: #E8E8E8;
$app-election-logo-border: #171742;
.app{
    &-elections{
        padding-top: 130px;
        .app{
            &-card{
                &__title{
                    margin-bottom: 8px;
                }
                &__monthyear{
                    margin-bottom: 16px;
                }
                &__date{
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    label{
                        margin-left: 20px;
                    }
                }
                &__footer{
                    padding-top: 27px;
                }
                
            }
            &-list{
                margin-bottom: 24px;
                
            }
        }
        &__result{
            padding: 45px 0 45px;
        }
    }
    &-thirdhalf{
        &-col{
            margin-top: 25px;
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 16px;
            &__right{
                width: 390px;
            }
        }
    }
    &-votedetail{
        padding: 30px 30px 43px;
        background: $app-white;
        margin: 41px 0 36px;
    }
    &-election{
        &__logo{
            width: 170px;
            height: 170px;
            background: $app-election-logo-bg;
            border-radius: 100%;
            position: relative;
            padding: 2px;
            z-index: 1;
            &-inner{
                width: 100%;
                height: 100%;
                background: $app-white;
                border-radius: 100%;
                position: relative;
                &::before{
                    content: "";
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    border: 4px solid $app-primary;
                    border-radius: 100%;
                }
                &::after{
                    content: "\e906";
                    font-family: 'icomoon' !important;
                    position: absolute;
                    top: 25px;
                    right: 3px;
                    font-size: 40px;
                    color: $app-success;
                    background: $app-white;
                    border-radius: 100px;
                }
            }
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 60px;
            }
        }
    }
    &-progress{
        display: flex;
        align-items: center;
        position: relative;
        &__bar{
            position: absolute;
            top: 0;
            left: 17px;
            width: calc(100% - 220px);
            padding: 13px 13px 13px 185px;
            background: no-repeat;
            border: 1px solid $app-election-logo-bg;
            border-radius: 18px;
            border-top-left-radius: 100px;
        }
        .progress{
            border-radius: 8px;
            height: 52px;
            &-bar{
                background-color: $app-election-logo-border;
                font-size: 26px;
            }
        }
        &__wrap{
            flex-basis: 80%;
            position: relative;
            margin: 0 15px;
        }
        &__right{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            .app{
                &-progress__bar{
                    left: auto;
                    right: 17px;
                    top: auto;
                    padding: 13px 185px 13px 13px;
                    border-top-left-radius: 18px;
                    border-bottom-right-radius: 100px;
                    bottom: 0;
                }
                &-election__logo{
                    margin-left: auto;
                }
            }
        }
        &__left{
            position: relative;
        }
        &__content{
            flex-basis: 10%;
            text-align: center;
        }
       &__timelist{
        margin: 0;
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-top: 10px;
        font-size: 16px;
        li{
            display: table-cell;
        }
       }
       &__title{
           margin-bottom: 9px;
       }
    }
    &-news{
        padding-top: 130px;
        padding-bottom: 70px;
        .app-griditem--dictionary{
            grid-row-gap: 40px;
        }
    }
    &-newslist{
        margin: 0;
        display: flex;
        align-items: center;
        li{
            margin-left: 33px;
        }
        a{
            display: block;
            font-size: 24px;
            color: $app-black;
            position: relative;
        }
        &__closeicon{
            display: none;
            &::before{
                color: #787878;
            }
        }
        .app-icon{
            transition: all 0.3s ease-in;
        }
        &__searchinput{
            width: 100%;
            height: 100%;
            z-index: 9;
            &:checked {
                + .app-newslist__searchbox{
                    right: calc(100% + 15px);
                    transform: translateX(0);
                    opacity: 1;
                }
                ~ .app-newslist__closeicon{
                    display: block;
                }
                ~ .app-newslist__searchicon{
                    display: none;
                }
            }
        }
        &__searchbox{
            background: $app-white;
            position: absolute;
            right: 0;
            top: -10px;
            min-width: 300px;
            transition: all 0.3s ease-in;
            transform: translateX(-30px);
            opacity: 0;
        }
    }
   &-chart{
       height: 150px;
       width: 180px;
       margin: 0 auto;
       position: relative;
       background-image: url('../images/chart-bg.png');
       background-repeat: no-repeat;
       background-size: contain;
       padding: 0 30px;
       display: flex;
       align-items: center;
       canvas{
           height: 150px;
           
       }
       &__count{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-family: Poppins-SemiBold;
       }
   }
   @media only screen and (max-width: 1200px) {
    &-elections{
        .app{
            &-card{
                &__title, &__date{
                    margin-bottom: 8px;
                }
                &__monthyear{
                    margin-bottom: 10px;
                }
                &__footer{
                    padding-top: 22px;
                }
            }
            &-list{
                margin-bottom: 22px;
            }
            
        }
    }
    &-viewall{
        margin-left: auto;
    }
    &-newslist{
        margin: 20px 0 0;
        justify-content: flex-end;
        flex-basis: 100%;
        li{
            margin-left: 15px;
        }
        &__searchbox{
            min-width: 210px;
        }
    }
    &-thirdhalf{
        &-col{
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            margin-bottom: 60px;
            &__right{
                width: 100%;
                .dropdown{
                    position: absolute;
                    top: 100%;
                    left: 0;
                }
            }
        }
    }
    &-hidden-wrap-mb{
        overflow: auto;
    }
    &-progress{
        display: block;
        &__wrap{
            margin: 0;
        }
        &__status{
            display: flex;
            margin: 10px 0 0;
            li{
                &:not(:last-child){
                    margin-right: 40px;
                }
                padding-left: 22px;
                position: relative;
                &::before{
                    content: "";
                    top: 5px;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    border-radius: 4px;
                }
                &.yes{
                    &::before{
                        background: $app-election-logo-border;
                    }
                }
                &.no{
                    &::before{
                        background: $app-primary;
                    }
                }
            }
        }
        &__bar{
            border-radius: 15px;
            border-top-left-radius: 15px;
            padding: 15px;
            width: 100%;
            span{
                display: none;
            }
        }
        .progress{
            border-radius: 6px;
            height: 22px;
            &-bar{
                font-size: $app-sm-text - 4;
            }
        }
        &__left{
            .app-progress__bar{
                position: relative;
                top: -10px;
                left: 0;
            }
        }
        &__right{
            position: relative;
            margin-top: 90px;
            .app-progress__bar{
                right: 0;
                bottom: 95%;
                padding: 15px;
                border-top-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
        &__content{
            position: absolute;
            right: 0;
            width: calc(100% - 160px);
            text-align: left;
            top: 20px;
        }
        &__wrap{
            + .app-progress__content{
                right: auto;
                left: 0;
                text-align: right;
                top: auto;
                bottom: 30px;
            }
        }
    }
    &-votedetail{
        padding: 20px 10px;
        .app-title{
            line-height: 32px;
            font-size: $app-h6 + 2;
        }
    }
    &-election{
        &__logo{
            width: 136px;
            height: 136px;
            &-inner{
                &:after{
                    top: 14px;
                    font-size: $app-h4 - 4;
                }
            }
        }
    }
   }
   @media only screen and (min-width: 992px) {
    &-progress{
        &__status{
            display: none;
        }
    }
   }
   @media only screen and (min-width: 992px) and (max-width: 1199px) {
    &-thirdhalf-col__right{
        width: auto;
    }
   }
}