@import '../abstracts/variables';
// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.app{
    // Follow US -> Social Icon fixed Link
    &-social{
        &-follow{
            position: fixed;
            top: 50%;
            width: 23px;
            transform: translateY(-50%);
            left: 20.5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $app-light-font;
            font-family: Poppins-Medium;
            .app{
                &-icon{
                    margin-bottom: 12.5px;
                    color: $app-light-font;
                    font-size: $app-p - 3;
                }
            }
            &__txt{
                display: block;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                font-size: $app-sm-text;
                transform: rotate(180deg);
                margin-top: 2px;
            }
        }
    }

    // Our Platform Section Styles

    &-our{
        &-platform{
            padding-top: 129.5px;
            padding-bottom: 129.5px;
        }

        // Our Feature Section Styles
        &-feature{
            padding: 109px 0 162.54px;
            border-top-left-radius: 100px;
            .app{
                &-title{
                    margin-bottom: 69.23px;
                }
                &-card{
                    background-color: transparent;
                }
            }
        }
    }

    // Picture Dictionary Section Styles
    &-picture{
        &-dictionary{
            padding: 101px 0 104px;
            &__heading{
                margin-bottom: 43.23px;
                .app-subtitle{
                    margin-bottom: 0;
                }
            }
        }
    }

    // Project Partner Section Styles
    &-project{
        &-partner{
            padding: 60px 0 66.2px;
            border-top: 1px solid $app-border-color;
            .app-subtitle{
                margin: 0;
            }
        }
        &-support{
            padding: 104px 0 124px;
            .app{
                &-subtitle{
                    margin-bottom: 89px;
                }
                
                &-partner-list{
                    filter: inherit;
                    
                    li{
                        &:first-child{
                            text-align: left;
                        }
                        &:last-child{
                            text-align: right;
                        }
                    }
                }
            }
        }
        
    }
    &-how-it-works{
        padding: 116px 0 105px;
        text-align: center;
    }
    &-about-project{
        padding: 94.48px 0;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 108px;
            height: calc(100% - 60px);
            background-image: url("./../images/project-bg.png");
            background-size: 100% 100%;
        }
    }
    &-impact{
        padding: 100px 0;
        .app{
            &-subtitle{
                margin-bottom: 89px;
            }
            &-griditem{
                grid-template-columns: repeat(3, minmax(10%, 1fr));
                grid-column-gap: 135px;
            }
        }
    }
    &-contact{
        padding: 97px 0 100px;
        background: $app-contact-bg;
        color: $app-white;
        &__form{
            margin-top: 30px;
            .form-control{
                background: transparent;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                border-bottom-width: 2px;
                min-height: 48px;
                color: $app-white;
                padding: 0 10px;
                &:focus{
                    outline: none;
                    border-color: $app-white;
                    box-shadow: none;
                }
            }
            label{
                position: absolute;
                bottom: 100%;
                left: 0;
                font-size: $app-h5 - 2;
                font-family: Outfit-Light;
                letter-spacing: 2.4px;
            }
            .col{
                position: relative;
                margin-bottom: 85px;
            }
            > .col{
                margin-bottom: 40px;
            }
            .btn{
                &-contact{
                    border-color: $app-white;
                    height: 70px;
                    padding: 20px 90px;
                    font-size: $app-h5 - 2;
                    color: $app-white;
                    letter-spacing: 2.4px;
                    border-radius: 17px;
                    border-width: 3px;
                    float: right;
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1400px) {
        &-social{
            &-follow{
                left: 10.5px;
            } 
        }
        &-impact{
            .app{
                &-griditem{
                    grid-column-gap: 35px;
                }
            }
            
        }
        
     }
     @media only screen and (min-width: 1024px) {
        &-our{
            &-platform{
                &__content{
                    padding-right: 70px;
                }
            }
        }
     }
     @media only screen and (min-width: 1700px) {
        &-our{
            &-platform{
                &__content{
                    padding-right: 220px;
                }
            }
        }
     }
    @media only screen and (min-width: 1920px) {
        &-social{
            &-follow{
                left: 77.7px;
            } 
        }
    }
    @media only screen and (max-width: 991px) {
        &-our{
            &-platform{
                padding: 30px 0;
            }
        }
        &-how-it-works, &-our-feature, &-picture-dictionary, &-project-partner, &-about-project, &-impact, &-project-support, &-contact{
            padding: 30px 0;
            .app-title{
                line-height: 38px;
            }
        }
        &-impact {
            .app{
                &-subtitle{
                    margin-bottom: 30px;
                }
                &-griditem{
                    grid-template-columns: repeat(1, minmax(10%, 1fr));
                    grid-column-gap: 15px;
                }
            }
        }
        &-project-support {
            .app-subtitle{
                margin-bottom: 30px;
            }
        }
        &-contact__form {
            .col{
                flex-basis: 100%;
                margin-bottom: 55px;
            }
            .form-control{
                min-height: 32px;
            }
            label{
                font-size: $app-p;
            }
            .btn-contact{
                height: 45px;
                padding: 10px 90px;
                width: 100%;
                font-size: $app-p;
            }
        }
    }
}
