.app{
    &-login{
        display: flex;
        align-items: center;
        height: 100%;
        &__img{
            position: fixed;
            top:0;
            left: 0;
            width: 50%;
            padding: 18px 0 18px 18px;
            height: 100%;
            overflow: hidden;
            border-bottom-right-radius: 180px;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        &__box{
            height: calc(100vh - 145px);
            padding: 30px 50px;
            background-color: $app-white;
            overflow: auto;
            margin-top: 85px;
            display: flex;
            flex-direction: column;
            .btn-link{
                margin-top: auto;
            }
        }
        &__logo{
            margin-bottom: 26.75px;
        }
        &__heading{
            font-size: $app-h4 + 10;
            line-height: 61px;
            margin-bottom: 6px;
        }
        &__subhead{
            font-size: $app-h5 + 2;
            line-height: 39px;
            margin-bottom: 39px;
        }
        &__btn-group{
            .btn{
                width: 100%;
                position: relative;
                min-height: 40px;
                letter-spacing: 0.3px;
                font-family: Outfit-Regular;
                color: $app-white;
                display: flex;
                align-items: center;
                justify-content: center;
                &:not(:last-child){
                    margin-bottom: 30.16px;
                }
                &-facebook{
                    background-color: $app-facebook;
                    border-color: $app-facebook;
                }
                &-google{
                    color: $app-black;
                }
                &-apple{
                    background-color: $app-black;
                }
                .app{
                    &-icon{
                        position: absolute;
                        left: 11px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 20px;
                    }
                }
            }
        }
        &__createaccount{
            text-align: center;
            font-size: $app-sm-text;
            margin-top: 20.5px;
        }
        &--mailsent{
            .img-block{
                margin-bottom: 53px;
            }
        }
        &::before{
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $app-secondary;
            z-index: -1;
        }
    }
    @media only screen and (max-width: 991px) {
        &-login{
            background-color: $app-white;
            display: block;
            height: 100vh;
            &__box{
                max-height: inherit;
                padding: 15px;
                overflow: inherit;
            }
            &__img{
                display: none;
            }
            &__logo{
                display: none;
            }
            &__createaccount{
                .app-link{
                    display: block;
                }
            }
        }
    }
    @media only screen and (max-width: 767px) {
        &-login{
            &__heading{
               font-size: $app-h5 + 2;
               line-height: 49px;
               margin-bottom: 9px;
            }
            &__subhead{
                font-size: $app-h6;
                line-height: 28px;
                margin-bottom: 20px;
            }
        }
    }
    @media only screen and (min-width: 992px) {
        &-logo--login{
            display: none;
        }
    }
}