:root {
  --mdc-theme-primary: #302783;
  --yellow: #adb1d4;
  --danger: #e30513;
}

.top-panel {
  background-color: #302783;
  color: white;

  .link {
    .top-panel-logo {
      height: 100%;
      width: 100%;
      background-image: url(/static/branding.svg);
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
    }
  }
  .mdc-button--raised.black-button,
  .mdc-button--raised.black-button .mdc-button__label,
  .mdc-button--raised.black-button:not(:disabled) {
    background-color: var(--danger);
  }
}

.contest-list {
  .text-btn {
    .new-contest-icon-container {
      .new-contest-icon {
        color: #fff;
      }
    }
  }
}

.mdc-list-item.list-action-item {
  .list-action-column {
    .list-action-row {
      .icon {
        color: #fff;
      }
    }
  }
}

.agree-form {
  .mdc-form-field {
    flex-flow: row nowrap;
    justify-content: center;

    label {
      margin: 0
    }
  }
}
