:root {
  --yellow: #adb1d4;
}

.top-panel {
  background-color: #fafafa;
  color: var(--black);
}

.contest-list {
  .text-btn {
    .new-contest-icon-container {
      .new-contest-icon {
        color: #fff;
      }
    }
  }
}

.mdc-list-item.list-action-item {
  .list-action-column {
    .list-action-row {
      .icon {
        color: #fff;
      }
    }
  }
}
