// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
//  base import
@import
  'fonts',
  'helpers',
  'typography',
  '../abstracts/variables';
/**
 * Set up a decent box model on the root element
 */
*{
  box-sizing: border-box;
}




