// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


@font-face {
    font-family: Poppins-SemiBold;
    src: url('./../fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: Poppins-Medium;
    src: url('./../fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins-Regular;
    src: url('./../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('./../fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
    font-family: Roboto-Regular;
    src: url('./../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: Outfit-SemiBold;
    src: url('./../fonts/Outfit/Outfit-SemiBold.ttf');
}
@font-face {
    font-family: Outfit-Regular;
    src: url('./../fonts/Outfit/Outfit-Regular.ttf');
}
@font-face {
    font-family: Outfit-Medium;
    src: url('./../fonts/Outfit/Outfit-Medium.ttf');
}
@font-face {
    font-family: Outfit-Light;
    src: url('./../fonts/Outfit/Outfit-Light.ttf');
}