.app{
    &-form{
        &__label{
            color:$app-forminput-light; 
            font-size:$app-sm-text;
            position:absolute;
            pointer-events:none;
            left:15px;
            top:11px;
            padding:0 5px;
            background:$app-white;
            transition:0.2s ease all;
            line-height: 16px;
        }
        &__control {
            position: relative;
            &:not(:last-child){
                margin-bottom: 30px;
            }
            input, select, textarea{
                font-size:$app-sm-text;
                width: 100%;
                min-height: 40px;
                border: 1px solid $app-border-color-light;
                border-radius: 6px;
                padding: 0 20px;
                &:focus{
                    outline:none;
                    ~ .app-form__label{
                      top:-8px;
                      font-size:$app-sm-text - 2;
                    }
                }
               
                &:not(:placeholder-shown) {
                    ~ .app-form__label {
                        top:-8px;
                        font-size:$app-sm-text - 2;
                    }
                }
            }
            select{
                &:not([value=""]):valid ~ .app-form__label{
                    top:-8px;
                    font-size:$app-sm-text - 2;
                }
            }
            &.icon{
                input{
                    padding-right: 35px;
                }
                .app-icon{
                    position:absolute;
                    top: 10px;
                    right: 10px;
                }
            }
            &.no-radius{
                input, textarea, select{
                    border-radius: 0;
                }
            }
            &.checkbox{
                li{
                    position: relative;
                }
                label{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 30px 15px 30px 75px;
                    cursor: pointer;
                    font-size: $app-sm-text;
                    font-family: Outfit-SemiBold;
                    text-transform: uppercase;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 30px;
                        width: 26px;
                        height: 26px;
                        border: 1px solid $app-border-color;
                    }
                }
                input[type="checkbox"], input[type="radio"]{
                    padding: 0;
                    height: initial;
                    width: initial;
                    margin-bottom: 0;
                    display: none;
                    cursor: pointer;
                    &:checked{
                        ~ label{
                            &::before{
                                background-color: $app-primary;
                                border-color: $app-primary;
                            }
                            &::after{
                                content: "\e914";
                                position: absolute;
                                top: 50%;
                                left: 36px;
                                font-size: 14px;
                                transform: translateY(-50%);
                                color: $app-white;
                                font-weight: 600;
                                font-family: 'icomoon' !important;
                                speak: none;
                                font-style: normal;
                                font-weight: normal;
                                font-variant: normal;
                                text-transform: none;
                                line-height: 1;
                            
                                /* Better Font Rendering =========== */
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                            }
                        }
                    }
                }
            }
            &--password{
                input{
                    padding-right: 40px;
                }
                .app-icon{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
        &__msg{
            border-radius: 6px;
            padding: 11px 20px;
            font-size: $app-sm-text;
            letter-spacing: 0.3px;
            background-color: $app-secondary;
            margin-bottom: 30px;
            margin-top: 7px;
            p{
                line-height: 24px;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
}

