.app{
    &-toast{
        position: fixed;
        bottom: 40px;
        padding: 17px;
        background-color: $app-success;
        font-size: $app-sm-text;
        color: $app-white;
        left: 50%;
        transform: translateX(-50%);
        &__msg{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__tick{
            margin-right: 15px;
            font-size: $app-h5 - 1;
        }
        &__close{
            margin-left: 15px;
            font-size: $app-p - 4;
        }
        &.error{
            background-color: $app-danger;
        }
    }
    &-loader {
        width:45px;
        height:45px;
        display:inline-block;
        padding:0px;
        border-radius:100%;
        border:5px solid;
        border-top-color:$app-danger;
        border-bottom-color:$app-secondary;
        border-left-color:$app-danger;
        border-right-color:$app-secondary;
        animation: loader 1s ease-in-out infinite;
    }
    &-loaderwrap{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($app-black, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }
}

 @keyframes loader {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 }