body h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 112px;
  letter-spacing: -1.5px;
  color: rgba(0, 0, 0, 0.87); }

body h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.87); }

body h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: rgba(0, 0, 0, 0.87); }

body h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87); }

body h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: rgba(0, 0, 0, 0.87); }

body .subtitle-1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87); }

body .subtitle-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87); }

body .body-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87); }

body .body-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87); }

body button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87); }

body .caption {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.87); }

body .overline {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87); }

body .top-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #141414;
  color: #E5E5E5;
  padding: 12px; }

body .top-panel-elem {
  display: flex;
  width: 100%; }

body .top-panel-elem .mdc-button {
  margin: 0 auto; }

body .top-panel-elem.top-panel-msg {
  text-align: center; }

body .top-panel-elem button,
body .top-panel-sub {
  margin: 0 auto; }

body .footer {
  text-align: center; }

body .form-group {
  margin-bottom: 24px; }

body .mdc-button,
body .mdc-text-field {
  display: flex; }

body .mdc-button {
  font-weight: bold;
  margin-bottom: 24px; }

body .mdc-button--raised.black-button,
body .mdc-button--raised.black-button .mdc-button__label,
body .mdc-button--raised.black-button:not(:disabled) {
  background: #2E2E2E; }

body .mdc-button--outlined.black-button,
body .mdc-button--outlined.black-button .mdc-button__label,
body .mdc-button--outlined.black-button:not(:disabled) {
  color: #2E2E2E; }

body .card {
  max-width: 25em;
  min-width: 25%;
  margin: 24px auto; }

body .center-text {
  display: block;
  text-align: center;
  margin: 24px; }
