:root {
  --yellow: #FFEA00;
}

.top-panel {
  background-color: var(--black);
  color: #fff;

  .top-panel-logo {
    background-image: url('/static/branding.png');
  }
}

.contest-list {
  .text-btn {
    .new-contest-icon-container {
      .new-contest-icon {
        color: #000;
      }
    }
  }
}

.mdc-list-item.list-action-item {
  .list-action-column {
    .list-action-row {
      .icon {
        color: #000;
      }
    }
  }
}
