{% extends 'base.html' %}

{% block content %}
<section>
    {% block form_open %}
    <form method="post" action="{{ request.path_info }}" enctype="multipart/form-data">
    {% endblock %}
        {% if form.help_text %}
        <p>{{ form.help_text }}</p>
        {% endif %}
        {% if form %}
            {{ form.as_p() }}
        {% endif %}
        {{ csrf_input }}
        {% block submit %}
        <input type="submit" value="{% block submit_label %}{{ form.submit_label }}{% endblock %}" />
        {% endblock %}
    </form>
</section>
{% endblock %}
