/*///////////////////////////////////////////////////////////////////////// Responsive CSS Structure /////////////////////////////////////////////////////////////////////////*/


/*---------- Small Mobile , IPhone Start ----------*/

/*=== Screen Size = 240, 320, 360, 480, 568 ===*/ 

@media (max-width: 374px){
.container { padding-left: 15px !important; padding-right: 15px !important; }
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 { font-size: 25px !important; line-height: 30px !important; }
.block-title h1,
.block-title h2,
.block-title h3,
.block-title h4,
.block-title h5,
.block-title h6 { font-size: 25px !important; line-height: 30px !important; }
.banner-title h1,
.banner-title h2,
.banner-title h3,
.banner-title h4,
.banner-title h5,
.banner-title h6 { font-size: 28px !important; line-height: 33px !important; }
.banner-title span img { width: 35px !important; }
.banner-section { padding: 35px 0 !important; }
.banner-buttons .btn { margin: 0 0 20px !important; }
.profit-section .profit-content { padding: 50px 0 20px !important; }
.group-images-section .image { margin: 0 -30px !important; }
.group-images-section { margin-top: 30px !important; }
.profit-section { margin-bottom: 30px !important; }
.testinomial-section { padding: 35px 0 !important; }
.slick-dots { margin-top: 20px !important; }
.testinomial-block p { font-size: 18px !important; line-height: 25px !important; }
.technologies-section { padding-top: 35px !important; }
.technologies-section .section-title { margin-bottom: 30px !important; }
.technologies-section .container { padding: 0 !important; }
.technologies-block .title { margin-bottom: 35px !important; }
.our-sponsors-partners-section { padding: 35px 0 !important; }
.partners-section .partners-list { padding-bottom: 0 !important; }
.partners-section .partners-list .partners-block { min-height: 150px; }
.partners-section .partners-list [class^=col] { width: 100% !important; flex: 0 0 100% !important; -webkit-flex: 0 0 100% !important; padding-bottom: 4px !important; }
.sponsors-section.partners-section .partners-list [class^=col] { width: 50% !important; flex: 0 0 50% !important; -webkit-flex: 0 0 50% !important; }
.sponsors-section.partners-section .partners-list .partners-block { min-height: inherit; }
.media-section { padding: 35px 0 5px !important; }
.media-section .block-title { margin-bottom: 25px !important; }
.media-section .media-block { flex-direction: column; }
.media-section .media-block .profile-pic { margin: 0 0 20px; }
.safe-e-voting-section { padding: 35px 0 !important; }
.safe-e-voting-section .election-image { margin-top: 35px !important; }
}

@media (min-width: 240px) and (max-width: 575px){
.btn { font-size: 16px; line-height: 16px; }

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 { font-size: 34px; line-height: 36px; }
.container { padding-left: 25px; padding-right: 25px; }

.navbar { padding: 0; }

.banner-section { padding: 55px 0 72px; }
.banner-title h1,
.banner-title h2,
.banner-title h3,
.banner-title h4,
.banner-title h5,
.banner-title h6 { font-size: 34px; line-height: 36px; }
.banner-title span img { width: 45px; }
.banner-content { padding: 0; }
.banner-buttons { display: inline-flex; flex-direction: column; }
.banner-buttons .btn { margin: 0 0 30px; }
.banner-buttons .btn:last-child { margin-bottom: 0; }
.profit-section .profit-content { padding: 64px 0 30px; margin-top: 0; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.profit-block { margin-bottom: 44px; }
.profit-block p { font-size: 16px; }
.group-images-section { margin: 70px 0 0; }
.group-images-section .image { margin: 0 -60px; }
.testinomial-section { padding: 64px 0; margin-top: -30px; }
.testinomial-block { padding: 0 10px; }
.testinomial-block p { font-size: 20px; line-height: 28px; }
.slick-dots { margin-top: 30px; }
.slick-dots li { width: 8px; height: 8px; }
.technologies-section { padding: 72px 0 0; overflow: hidden; }
.technologies-section .section-title { margin-bottom: 50px; padding: 0 15px; }
.technologies-section .container { padding: 0; max-width: 100%; }
.technologies-section .technologies-content { padding: 0; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.sponsors-section.partners-section .partners-list { padding-bottom: 0; }
.sponsors-section.partners-section .partners-list [class^=col] { width: 50%; flex: 0 0 50%; -webkit-flex: 0 0 50%; padding-bottom: 4px; }
.technologies-section .technologies-content .row { margin: 0 -2px; }
.technologies-section .technologies-content [class^=col-] { padding: 0 2px; }
.technologies-block { padding: 40px 25px; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.technologies-block .title { min-height: inherit; margin-bottom: 70px; }
.technologies-block .detail .icon { margin-bottom: 15px; }
.technologies-block .detail .learn-more-link { display: inline-flex; flex-direction: column-reverse; }
.technologies-block .detail .learn-more-link a { margin: 22px 0 0; }
.technologies-block .detail .learn-more-link a:last-child { margin-bottom: 0; }
.our-sponsors-partners-section { padding: 50px 0; }
.media-section { padding: 72px 0 40px; }
.media-section .media-block .title span,
.media-section .media-block .title a { font-size: 18px; line-height: 22px; }
.media-section .block-title { margin-bottom: 55px; }
.safe-e-voting-section { padding: 62px 0; }
.safe-e-voting-section .election-image { margin-top: 62px; }

.footer { padding: 30px 0; }
}

@media (min-width: 576px) and (max-width: 767px){
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 { font-size: 34px; line-height: 36px; }
.slick-dots { margin-top: 30px; }

.navbar { padding: 0; }

.banner-section { padding: 50px 0; }
.banner-title h1,
.banner-title h2,
.banner-title h3,
.banner-title h4,
.banner-title h5,
.banner-title h6 { font-size: 38px; line-height: 45px; }
.banner-title span img { width: 40px; margin-left: 10px; }
.banner-content { padding: 0; }
.banner-buttons .btn { margin: 0 10px; }
.profit-section .profit-content { padding: 72px 0 30px; margin-top: 0; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.profit-block { margin-bottom: 44px; }
.profit-block p { font-size: 16px; }
.group-images-section .image { margin: 0 -70px; }
.group-images-section { margin: 50px 0 0; }
.testinomial-section { padding: 50px 0; margin-top: -65px; }
.technologies-section { padding: 50px 0; }
.technologies-block .title { min-height: inherit; }
.testinomial-block p { font-size: 25px; line-height: 35px; }
.technologies-section .section-title { margin-bottom: 30px; padding: 0 15px; }
.technologies-section .container { padding: 0; max-width: 100%; }
.technologies-section .technologies-content { padding: 0; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.technologies-section .technologies-content .row { margin: 0; }
.technologies-section .technologies-content [class^=col-] { padding: 0; }
.technologies-block { padding: 35px 25px; }
.sponsors-section.partners-section .partners-list { padding-bottom: 0; }
.sponsors-section.partners-section .partners-list [class^=col] { width: 50%; flex: 0 0 50%; -webkit-flex: 0 0 50%; padding-bottom: 4px; }
.technologies-block .detail .learn-more-link { display: inline-flex; flex-direction: column-reverse; }
.technologies-block .detail .learn-more-link a { margin: 22px 0 0; }
.technologies-block .detail .learn-more-link a:last-child { margin-top: 0; }
.our-sponsors-partners-section { padding: 50px 0; }
.media-section { padding: 50px 0; }
.media-section .block-title { margin-bottom: 50px; }
.safe-e-voting-section { padding: 50px 0; }
.safe-e-voting-section .election-image { margin-top: 50px; }

.footer { padding: 30px 0; }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
}

@media (min-width: 768px) and (max-width: 991px){
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 { font-size: 34px; line-height: 36px; }

.navbar { padding: 0 18px; }

.banner-section { padding: 75px 0 95px; }
.banner-title h1,
.banner-title h2,
.banner-title h3,
.banner-title h4,
.banner-title h5,
.banner-title h6 { font-size: 48px; line-height: 55px; }
.banner-title span img { width: 45px; }
.banner-content { padding: 0 18px; }
.banner-buttons .btn { margin: 0 10px; }
.profit-section .profit-content { padding: 72px 18px 30px; margin-top: 0; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.profit-block { margin-bottom: 44px; }
.profit-block p { font-size: 16px; }
.group-images-section .image { margin: 0 -90px; }
.group-images-section { margin: 70px 0 0; }
.testinomial-section { padding: 95px 0; margin-top: -65px; }
.technologies-section { padding: 95px 0; overflow: hidden; }
.technologies-section .section-title { margin-bottom: 45px; padding: 0 15px; }
.technologies-section .container { padding: 0; max-width: 100%; }
.technologies-section .technologies-content { padding: 0; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.technologies-section .technologies-content .row { margin: 0 -2px; }
.technologies-section .technologies-content [class^=col-] { padding: 0 2px; }
.technologies-block { padding: 35px; }
.technologies-block .detail .learn-more-link { display: inline-flex; flex-direction: column-reverse; }
.technologies-block .detail .learn-more-link a { margin: 22px 0 0; }
.technologies-block .detail .learn-more-link a:last-child { margin-top: 0; }
.our-sponsors-partners-section { padding: 50px 0; }
.media-section { padding: 95px 0 100px; }
.media-section .block-title { margin-bottom: 60px; }
.safe-e-voting-section { padding: 95px 0 72px; }

.footer { padding: 30px 0; }
}

@media (min-width: 992px) and (max-width: 1199px){
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 { font-size: 40px; line-height: 50px; }
.banner-section { padding: 50px 0 200px; }
.banner-title h1,
.banner-title h2,
.banner-title h3,
.banner-title h4,
.banner-title h5,
.banner-title h6 { font-size: 50px; line-height: 55px; }
.profit-section .profit-content { padding: 72px 40px; }
.group-images-section .image { margin: 0 -120px; }
.group-images-section { margin: 70px 0 0; }
.testinomial-section { padding: 70px 0; }
.technologies-section { padding: 70px 0; }
.technologies-section .section-title { margin-bottom: 50px; }
.technologies-section .technologies-content { padding: 40px; }
.technologies-section .technologies-content .row { margin: 0 -20px; }
.technologies-section .technologies-content [class^=col-] { padding: 0 20px; }
.our-sponsors-partners-section { padding: 70px 0; }
.media-section { padding: 70px 0; }
.safe-e-voting-section { padding: 70px 0; }

.footer { padding: 30px 0; }
}

@media (min-width: 1200px) and (max-width: 1920px){
}

@media (min-width: 1200px) {
.container { max-width: 1110px; }
}

@media (min-width: 1200px) and (max-width: 1299px){
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 { font-size: 40px; line-height: 50px; }
.banner-section { padding: 70px 0 200px; }
.banner-title h1,
.banner-title h2,
.banner-title h3,
.banner-title h4,
.banner-title h5,
.banner-title h6 { font-size: 50px; line-height: 55px; }
.profit-section .profit-content { padding: 72px 60px; }
.group-images-section { margin: 100px 0 0; }
.testinomial-section { padding: 120px 0; }
.technologies-section { padding: 120px 0; }
.technologies-section .section-title { margin-bottom: 50px; }
.technologies-section .technologies-content { padding: 40px; }
.technologies-section .technologies-content .row { margin: 0 -20px; }
.technologies-section .technologies-content [class^=col-] { padding: 0 20px; }
.our-sponsors-partners-section { padding: 70px 0; }
.media-section { padding: 100px 0; }
.safe-e-voting-section { padding: 100px 0 70px; }

.footer { padding: 30px 0; }
}

@media (min-width: 1300px) and (max-width: 1399px){
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 { font-size: 40px; line-height: 50px; }
.banner-section { padding: 70px 0 200px; }
.banner-title h1,
.banner-title h2,
.banner-title h3,
.banner-title h4,
.banner-title h5,
.banner-title h6 { font-size: 55px; line-height: 65px; }
.profit-section .profit-content { padding: 72px 60px; }
.group-images-section { margin: 100px 0 0; }
.testinomial-section { padding: 120px 0; }
.technologies-section { padding: 120px 0; }
.technologies-section .section-title { margin-bottom: 50px; }
.technologies-section .technologies-content { padding: 40px; }
.technologies-section .technologies-content .row { margin: 0 -20px; }
.technologies-section .technologies-content [class^=col-] { padding: 0 20px; }
.our-sponsors-partners-section { padding: 70px 0; }
.media-section { padding: 100px 0; }
.safe-e-voting-section { padding: 100px 0 70px; }

.footer { padding: 30px 0; }
}



/*---------- Large Desktop , Large Screen End ----------*/
